@charset "UTF-8";

.CMYMCP215{
    .detail-list{
        margin:0;
        margin-top:-1.6rem;

        & > ul > li{
            padding:1.6rem 0 2.4rem;
            &:first-child{border-top:0;}
            &:last-child{padding-bottom:0;}
        }
    }
}