@charset "UTF-8";

.CMYMCP003 {
    .modal-body { 
        padding:8.8rem 1.6rem 0;

        .img-finance{
            text-align:center;
            .img-wrap{
                margin:0 auto; width:14rem;
                img{width:100%;}
            }
            .tit{margin-top:1.6rem; @include contents-title-300;}
            .txt{margin-top:0.4rem; margin-bottom:2.4rem; @include body-210;}
        }

        .registration-list { 
            padding-bottom:3.5rem;
            > li { 
                position:relative; margin-bottom:3.8rem;
                &:last-child { margin-bottom:0; }

                .icon { 
                    position:absolute; top:50%; left:0; transform:translateY(-50%); 
                    ~ .tit { padding-left:5.6rem; font-size:1.6rem; line-height:2.4rem; letter-spacing:-0.04rem; color:#222; font-weight:500; }
                    ~ .price { padding-left: 5.6rem; font-size:1.4rem; line-height:2rem; letter-spacing:-0.02rem; color:#666666; }
                    ~ button { position:absolute; top:50%; right:0; transform:translateY(-50%); }
                }
            }
            .image40 { display:inline-block; width:4rem; height:4rem; overflow:hidden; font-size:0; background-color:transparent; vertical-align:middle; }
        }

        .button-form-box { width:100%; display:block;
            .form-box { text-align:center; margin-top:2.4rem; padding-bottom:1.8rem;
                .txt { vertical-align:middle; font-size:1.4rem; line-height:2rem; letter-spacing:-0.02rem; color:#666666; display:inline-block; }
            }        
        }

        .tac{margin-top:2.4rem; padding-bottom:1.6rem;}
    }
}