@charset "UTF-8";

.CMYMCP001-1 { 
    .btn-area {
        .btn-dark-gray { background-color:#222; opacity:0.7;
            span { font-size:1.4rem; text-align:center; line-height:2rem; letter-spacing:-0.02rem; color:#fff; }
        }
        &.bottom-fixed { 
            button { line-height:4.8rem; }
        }
    }
}