@charset "UTF-8";

.CMYMCP173 {
    .result-box { position:fixed; top:calc(50% - 4.8rem); left:0; width:100%; transform: translateY(-50%);
        .tit { font-size:2rem; line-height:3rem; color:#000; }
        .link-txt { margin-top:3.2rem; line-height:2.4rem; text-align:center; font-size:1.6rem; line-height:2.4rem; font-weight:400; letter-spacing:-0.04rem; color:#666; text-decoration:underline;
        }
    }
}