@charset "UTF-8";

.CMYMCP349{
    .modal-header{
        background:transparent;
    }
    .result-box{
        margin-top:-4rem;
        padding:0;
        .btn-txt{
            margin-top:2.4rem;
        }
    }
}