@charset "UTF-8";

.CMYMCP141{
    .tooltip-wrap{
        margin-top:1.6rem;
        .tooltip{
            top:calc(100% + 0.4rem);
            left:0;
        }
    }
    .link-list{
        margin:3.2rem -1.6rem 0;
    }
}