@charset "UTF-8";

.CMYMCP301 { 
    .contents-subtext-area {
        font-size:1.6rem;
        line-height:2.4rem;
        letter-spacing:-0.04rem;
        color:#666;
        span {
            display:inline;
            font-size:1.6rem;
            line-height:2.4rem;
            letter-spacing:-0.04rem;
            color:#2589ff;
        }
    }
    .link-list-area {
        .link-list {
            margin:2.4rem -1.6rem 0;
            li {
                a .txt, 
                button .txt {
                    font-size:1.4rem;
                    line-height:2rem;
                    letter-spacing:-0.02rem;
                    font-weight:700;
                }
                .text-icon16 {
                    float:left;
                    position:initial;
                    display:inline-block;
                    width:1.6rem;
                    height:1.6rem;
                    margin-top:0.4rem;
                    margin-left:0.4rem;
                    background:url(../images/icon/icon16-error.svg) no-repeat center/contain;
                }
                .tag-round{
                    margin:0.2rem 0;
                    vertical-align:middle;
                }
            }
        }
    }
    .btn-wrap{
        margin-top:1.6rem;
    }
    .tac{
        margin-top:3.2rem;
    }
    // .icon-error { background:url("../images/icon/icon16-error.svg") no-repeat center/contain; }
    // .btn-area.bottom-fixed {
    //     .bottom-text-button-area { text-align:center; font-size:0; padding-top:3.2rem;
    //         button { display:inline-block; width:auto; font-size:1.4rem; line-height:2rem; letter-spacing:-0.02rem; color:#666; margin-left:0.8rem; margin-right:0.8rem; padding:0; text-decoration:underline; }
    //     }
    //     .bottom-text-logout-area { text-align:right; font-size:0; padding-top:4.3rem; padding-bottom:2.4rem;
    //         em { display:inline-block; font-size:1.4rem; line-height:2rem; letter-spacing:-0.02rem; color:#666; vertical-align:middle; }
    //         button { display:inline-block; position:initial; width:1.6rem; padding:0; height:1.6rem;  margin-left:0.4rem; }
    //     }
    // }
    // .bottom-space { height:20.3rem; }
}