<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>dockbar</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>설문조사</h2>
			<div class="btn-header-wrap">
				<button type="button"><i class="icon24 btn-alarm"></i><span>알람</span></button>
				<button type="button"><i class="icon24 btn-home"></i><span>홈</span></button>
				<button type="button"><i class="icon24 btn-delete"></i><span>삭제</span></button>
			</div>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP105">
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
					<p>test</p>
				</div>
				<!-- // section, 화면ID -->

			</div>
			<!-- // content -->
		</div>
		<!-- // content-body -->
	</div>
	<!-- // wrap -->

	<!-- dockbar -->
	<!-- 2021-07-26 메뉴 수정 -->
	<div class="dock-menu">
		<ul class="dock-bar">
			<li>
				<a href="javascript:;">
					<i class="icon dock-home"></i>
					<span>홈</span>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="icon dock-sell"></i>
					<span>팔때</span>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<i class="icon dock-search"></i>
					<span>검색</span>
				</a>
			</li>
			<li>
				<a href="javascript:;" class="active"><!-- 활성화시 'active' 클래스 추가 -->
					<i class="icon dock-data"></i>
					<span>마이데이터</span><!-- 2021-07-07 텍스트 수정 --> 
				</a>
				<ul class="dock-depth2">
					<li>
						<a href="javascript:;" class="active"><span>내자산</span></a><!-- 활성화시 'active' 클래스 추가 -->
					</li>
					<li>
						<a href="javascript:;"><span>내차구매</span></a>
					</li>
					<li>
						<a href="javascript:;"><span>차테크</span></a>
					</li>
					<li>
						<a href="javascript:;"><span>내차고</span></a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:;">
					<i class="icon dock-market"></i>
					<span>시세</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- // 2021-07-26 메뉴 수정 -->
	<!-- // dockbar -->
</body>
</html>