<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>레이아웃</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>설문조사</h2>
			<!-- 2021-06-30 마크업 수정 -->
			<div class="btn-header-wrap">
				<button type="button"><i class="icon24 btn-add"></i><span>추가</span></button>
				<button type="button"><sup class="badge-yellow">2</sup><i class="icon24 btn-car"></i><span>차</span></button>
				<button type="button"><i class="icon24 btn-alarm"></i><span>알람</span></button>
				<button type="button"><i class="icon24 btn-home"></i><span>홈</span></button>
				<button type="button"><i class="icon24 btn-delete"></i><span>삭제</span></button>
			</div>
			<!-- // 2021-06-30 마크업 수정 -->
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP105">
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
					<p>aaaaaaaaaa</p>
				</div>
				<!-- // section, 화면ID -->

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP105">
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
					<p>bbbbbbbbb</p>
				</div>
				<!-- // section, 화면ID -->

			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>