<div class="modal-wrap" data-type="window">
    <div class="modal">
        <div class="modal-header">
            <i class="icon64 icon-nodata"></i>
            <h3 class="modal-tit">타이틀영역</h3>
        </div>
        <div class="modal-body">
            <p class="modal-txt">
                제공해주신 마이데이터 정보는<br/>
                안전하게 보관되며,<br/>
                KB마이차 서비스 제공을 위해 사용됩니다.
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>취소</span></button>
                <button type="button" class="btn-txt-blue"><span>확인</span></button>
            </div>
        </div>
        <button type="button" class="btn-today">오늘 하루 보지않기</button>
    </div>
</div>