<div class="modal-wrap" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>팝업 타이틀</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
            <p>modal1 팝업 내용</p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>취소</span></button>
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>