<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내자산 &gt; 마이테이터관리 &gt; 마이데이터 동시 가입 내역</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
            <h2>마이데이터 서비스 동시 가입 내역</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP348">
                    <p class="body-120 ">
                        <span>2021-03-01</span> 현재 이용중인<br>
                        마이데이터 서비스입니다.
                    </p>

                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:50%">
                                <col style="width:50%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">서비스명</th>
                                    <th scope="col">가입일</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>KB국민은행 마이데이터</td>
                                        <td>2021.09.01</td>
                                    </tr>
                                    <tr>
                                        <td>네이버페이</td>
                                        <td>2021.09.10</td>
                                    </tr>
                                    <tr>
                                        <td>카카오뱅크</td>
                                        <td>2021.09.11</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>