<div class="modal-wrap CMYMCP105" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>마이데이터 가입현황 안내</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-07-27 클래스 & 문구수정  -->
            <p class="body-120">
                <span>김국민</span>님, <em>2021.05.20</em> 현재 이용중인 마이데이터 서비스입니다. 확인 후 KB차차차 마이데이터 서비스에 가입하시기 바랍니다.
            </p>
            <!-- // 2021-07-27 클래스 & 문구수정 -->
    
            <div class="table-wrap">
                <table>
                    <caption>테이블</caption>
                    <colgroup>
                        <col style="width:62%">
                        <col style="width:38%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">서비스명</th>
                            <th scope="col">가입일</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>KB국민은행 마이데이터</td>
                                <td>2021.09.01</td>
                            </tr>
                            <tr>
                                <td>네이버페이</td>
                                <td>2021.09.10</td>
                            </tr>
                            <tr>
                                <td>카카오뱅크</td>
                                <td>2021.09.11</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>다음에</span></button>
                <button type="button" class="btn-yellow"><span>서비스 가입</span></button>
            </div>
        </div>
    </div>
</div>