<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>레이아웃</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <a href="javascript:;" class="header-link">마이데이터 관리</a> <!-- 2021-07-07 퍼블수정: 한글로 문구수정 -->
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP231">
					<!-- 2021-07-30 ui변경으로 인한 전체적인 마크업 수정 -->
					<div class="top-account-wrap">
                        <div class="account-name">
                            <div class="bank40"><img src="/images/sample/icon40-card-samsung.svg" alt="샘플"></div>
                            <strong>삼성카드</strong>
                        </div>

                        <div class="account-data">
                            <strong class="tit">대출잔액</strong>
                            <div class="large-box">
                                <em>8,000,000</em><span>원</span>
                            </div>
                        </div>
                    </div>

                    <div class="detail-list">
                        <ul>
                            <li>
                                <p class="date">02.01</p><!-- 2021-08-02 표기 수정 -->
                                <a href="javascript:;" class="detail-box">
                                    <div class="data-list">
                                        <ul>
                                            <li>
                                                <span class="tit">이용금액</span>
                                                <span class="txt">2,000,000원</span>
                                            </li>
                                            <li>
                                                <span class="tit">결제예정일</span>
                                                <span class="txt">2021.05.20</span>
                                            </li>
                                            <li>
                                                <span class="tit">대출잔액</span>
                                                <span class="txt bold">8,000,000원</span>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <p class="date">02.01</p><!-- 2021-08-02 표기 수정 -->
                                <a href="javascript:;" class="detail-box">
                                    <div class="data-list">
                                        <ul>
                                            <li>
                                                <span class="tit">이용금액</span>
                                                <span class="txt">2,000,000원</span>
                                            </li>
                                            <li>
                                                <span class="tit">결제예정일</span>
                                                <span class="txt">2021.05.20</span>
                                            </li>
                                            <li>
                                                <span class="tit">대출잔액</span>
                                                <span class="txt bold">8,000,000원</span>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- // 2021-07-30 ui변경으로 인한 전체적인 마크업 수정 -->
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>