<div class="modal-wrap CMYMCP363" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>약관 타이틀</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <select name="" id="" class="inline-select">
                <option value="">2021-04-02</option>
                <option value="">2021-04-01</option>
            </select>

            <!-- 약관영역 -->
            <div class="terms-wrap">

            </div>
            <!-- // 약관영역 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button><!-- 미동의일 경우 '동의', 동의일 경우 '동의 철회', 필수일 경우 '확인' -->
            </div>
        </div>
    </div>
</div>