<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>기관별 정기전송 여부 설정</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP381">
					<p class="body-120">서비스 탈퇴 시 연결해제 정보를 확인해주세요.</p>
                    <ul class="confirm-list">
                        <li>
                            <h3 class="tit">수집 기간</h3>
                            <p class="txt">2021.02.01 ~ 2022.01.30</p>
                        </li>
                        <li>
                            <h3 class="tit">수집 목적</h3>
                            <p class="txt">통합자산관리, 금융상품추천 등</p>
                        </li>
                        <li>
                            <h3 class="tit">수집한 개인신용정보의 보유기간</h3>
                            <p class="txt">2021.02.01 ~ 2026.01.30</p>
                        </li>
                        <li>
                            <h3 class="tit">수집한 개인신용정보</h3>
                            <h4 class="sub-tit">KB국민은행</h4>
                            <p class="txt">ㅇㅇㅇㅇㅇㅇㅇㅇ보통예금 (1234567890123)</p>
                            <p class="txt">ㅇㅇㅇㅇㅇㅇ적금 (3456789012345)</p>

                            <h4 class="sub-tit">SKT</h4>
                            <p class="txt">01086**95** (휴대폰)</p>
                            <p class="txt">07086**95** (집전화)</p>

                            <h4 class="sub-tit">쿠팡페이</h4>
                            <p class="txt">opus********(2001-01-15)</p>
                        </li>
                    </ul>

					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>다음</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>