<div class="modal-wrap CMYMCP274" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<h3 class="list-tit">
					<span>거래종류 상세</span>
				</h3>
				<ul>
					<li>
						<span class="tit">종목명(상품명)</span>
						<span class="txt">OOOOOOOOO</span>
					</li>
					<li>
						<span class="tit">종목(상품)코드</span>
						<span class="txt">OOO</span>
					</li>
					<li>
						<span class="tit">거래일시</span>
						<span class="txt">2021.02.04 13:20:28</span>
					</li>
					<li>
						<span class="tit">거래종류</span>
						<span class="txt">출금</span>
					</li>
					<li>
						<span class="tit">거래수량</span>
						<span class="txt">40</span>
					</li>
					<li>
						<span class="tit">거래단가</span>
						<span class="txt">245,000</span>
					</li>
					<li>
						<span class="tit">거래금액</span>
						<span class="txt minus bold">-9,800,000원</span>
					</li>
					<li>
						<span class="tit">정산금액</span>
						<span class="txt minus">-9,800,000원</span>
					</li>
					<li>
						<span class="tit">거래 후 잔액</span>
						<span class="txt">10,000,000원</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>