<div class="modal-wrap CMYMCP150" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>개인(신용)정보 제공 동의서</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <p class="body-120">귀하는 개인(신용)정보 수집·이용에 관한 동의를 거부하실 수 있습니다. 다만, 개인(신용)정보의 제공에 관한 동의는 본인신용정보 통합조회 서비스와 직접적으로 관련된 필수적 사항이므로 아래의 사항에 동의하셔야만 본인신용정보 통합조회 서비스의 제공이 가능합니다.</p>
            <dl class="item-list">
                <dt>제공받는 자</dt>
                <dd class="txt-red">기관명1, 기관명2, 기관명3, 기관명4, 기관명5, 기관명6, …, 기관명N</dd>
                <dt>제공받는 자의 이용목적</dt>
                <dd class="txt-red">본인확인 및 개인(신용)정보의 전송</dd>
                <dt>보유 및 이용기간</dt>
                <dd class="txt-red">본인확인 및 개인(신용)정보의 전송 목적 달성 시까지</dd>
                <dt>개인(신용)정보 제공 항목</dt>
                <dd>
                    <h5 class="body-100">본인확인 및 인증정보</h5>
                    <p class="body-120">전자서명, 접근토큰, CI, 인증서, 전송요구서</p>
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
    </div>
</div>