<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>전송요구(자산목록) 완료</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP145">
                    <!-- 2021-06-28 마크업 추가 -->
					<div class="top-location">
						<ul>
							<li class="end"><span>1</span></li>
							<li class="end"><span>2</span></li>
							<li class="end"><span>3</span></li>
							<li class="active"><span>4</span></li>
						</ul>
					</div>
					<!-- // 2021-06-28 마크업 추가 -->

					<div class="result-box">
                        <i class="icon48 icon-success"></i>
                        <p class="tit">
                            자산 연결이 완료되었습니다.
                        </p>
                    </div>

                    <div class="accordion-list-wrap">
                        <ul>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-total"><!-- 2021-07-22 클래스 'toggle-active' 삭제 -->
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/bank/bank-sample.svg" alt="KB국민은행" /></span>
                                            <strong>KB국민은행</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <dl class="total-list-caption">
                                                <dt>성공</dt>
                                                <dd class="success">1</dd>
                                                <dt>실패</dt>
                                                <dd class="fail">1</dd>
                                            </dl>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <span class="state success">성공</span>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">OOOOOOOOOO적금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="state fail">실패</button>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/icon40-certificate-kb.svg" alt="KB증권" /></span>
                                            <strong>KB증권</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <dl class="total-list-caption">
                                                <dt>성공</dt>
                                                <dd class="success">2</dd>
                                                <dt>실패</dt>
                                                <dd class="fail">0</dd>
                                            </dl>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <span class="state success">성공</span>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">OOOOOOOOOO적금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <span class="state success">성공</span>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/icon40-card-kb.svg" alt="KB국민카드" /></span>
                                            <strong>KB국민카드</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <dl class="total-list-caption">
                                                <dt>성공</dt>
                                                <dd class="success">2</dd>
                                                <dt>실패</dt>
                                                <dd class="fail">0</dd>
                                            </dl>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <span class="state success">성공</span>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">OOOOOOOOOO적금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="state fail">실패</button>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/sample-kbinsurance.png" alt="KB손해보험" /></span>
                                            <strong>KB손해보험</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <dl class="total-list-caption">
                                                <dt>성공</dt>
                                                <dd class="success">2</dd>
                                                <dt>실패</dt>
                                                <dd class="fail">0</dd>
                                            </dl>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <span class="state success">성공</span>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">OOOOOOOOOO적금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="state fail">실패</button>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/icon40-bank_ibk.svg" alt="IBK기업은행" /></span>
                                            <strong>IBK기업은행</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <dl class="total-list-caption">
                                                <dt>성공</dt>
                                                <dd class="success">2</dd>
                                                <dt>실패</dt>
                                                <dd class="fail">0</dd>
                                            </dl>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <span class="state success">성공</span>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">OOOOOOOOOO적금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="state fail">실패</button>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/icon40-bank-sc.svg" alt="SC제일은행" /></span>
                                            <strong>SC제일은행</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <dl class="total-list-caption">
                                                <dt>성공</dt>
                                                <dd class="success">2</dd>
                                                <dt>실패</dt>
                                                <dd class="fail">0</dd>
                                            </dl>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <span class="state success">성공</span>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">OOOOOOOOOO적금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="state fail">실패</button>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/sample-dbinsurance.png" alt="DS금융투자" /></span>
                                            <strong>DS금융투자</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <dl class="total-list-caption">
                                                <dt>성공</dt>
                                                <dd class="success">2</dd>
                                                <dt>실패</dt>
                                                <dd class="fail">0</dd>
                                            </dl>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <span class="state success">성공</span>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">OOOOOOOOOO적금</p>
                                                    <ul class="info">
                                                        <li>1234567890123</li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="state fail">실패</button>
                                                <!-- <span class="date">2021-01-31 11:23:20</span> --><!-- 2021-07-15 마크업 삭제 -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>확인</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>