<div class="modal-wrap CMYMCP138" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>전송요구 약관</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            
            
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>