<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>선택 개인신용정보 확인</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP140">
					<!-- 2021-06-28 마크업 추가 -->
					<div class="top-location">
						<ul>
							<li class="end"><span>1</span></li>
							<li class="end"><span>2</span></li>
							<li class="active"><span>3</span></li>
							<li><span>4</span></li>
						</ul>
					</div>
					<!-- // 2021-06-28 마크업 추가 -->
					
					<h3 class="contents-title-100">
						선택하신 개인신용정보를<br>
						확인해 주세요.
					</h3>

					<div class="accordion-list-wrap">
                        <ul>
                            <li>
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/bank/bank-sample.svg" alt="샘플이미지"></span>
                                            <strong>KB국민은행</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <div class="num-box">
                                                <em>4</em>
                                            </div>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
											<li>
												<div class="box">
													<p class="tit">KB Star*t통장-보통예금</p>
													<ul class="info">
														<li>입출금</li>
														<li>1234567890123</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="box">
													<p class="tit">KB적금</p>
													<ul class="info">
														<li>예적금</li>
														<li>1234567890123</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="box">
													<p class="tit">KB대출</p>
													<ul class="info">
														<li>신용대출</li>
														<li>1234567890123</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="box">
													<p class="tit">개인형IRP</p>
													<ul class="info">
														<li>퇴직연금</li>
														<li>1234567890123</li>
													</ul>
												</div>
											</li>
										</ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/bank/bank-sample.svg" alt="샘플이미지"></span>
                                            <strong>KB국민카드</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <div class="num-box">
                                                <em>4</em>
                                            </div>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
											<li>
												<div class="box">
													<p class="tit">KB국민카드</p>
													<ul class="info">
														<li>본인카드</li>
														<li>111111******1111</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="box">
													<p class="tit">포인트 정보</p>
												</div>
											</li>
											<li>
												<div class="box">
													<p class="tit">청구 및 결제 정보</p>
												</div>
											</li>
											<li>
												<div class="box">
													<p class="tit">대출(리볼빙/단기대출/장기대출) 정보</p>
												</div>
											</li>
										</ul>
                                    </div>
                                </div>
                            </li>
							<li>
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/bank/bank-sample.svg" alt="샘플이미지"></span>
                                            <strong>SK텔레콤</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <div class="num-box">
                                                <em>2</em>
                                            </div>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
											<li>
												<div class="box">
													<p class="tit">01086**95**</p>
													<ul class="info">
														<li>휴대폰</li>
													</ul>
												</div>
											</li>
											<li>
												<div class="box">
													<p class="tit">07086**95**</p>
													<ul class="info">
														<li>집전화</li>
													</ul>
												</div>
											</li>
										</ul>
                                    </div>
                                </div>
                            </li>
							<li>
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/bank/bank-sample.svg" alt="샘플이미지"></span>
                                            <strong>쿠팡페이</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <div class="num-box">
                                                <em>1</em>
                                            </div>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
											<li>
												<div class="box">
													<p class="tit">opus********</p>
													<ul class="info">
														<li>2001.01.15</li>
													</ul>
												</div>
											</li>
										</ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
					
					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>다음</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>