<div class="modal-wrap CMYMCP007" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>나의 순자산</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="icon-area">
                <i class="icon48 icon-nodata"></i>
            </div>
            <div class="modal-txt">
                금액표시 설정 상태를 확인해 주세요.<br />
                나의 순자산 산출 정보를 확인하시려면<br />
                'ON'으로 설정해 주세요.
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>