<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>서비스 이용 불가 안내(19세 미만)</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP104">
					<div class="result-box">
                        <i class="icon48 icon-error"></i>
                        <p class="tit">서비스 이용에 불편을 드려 죄송합니다.</p>
						<!-- 2021-07-27 문구 수정 -->
                        <p class="txt">
							마이데이터 서비스는<br>
							만 19세 이상 고객님에 한해 이용이 가능합니다.
						</p>
						<!-- // 2021-07-27 문구 수정 -->
                    </div>
					
					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>KB차차차 홈으로 이동</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>