<div class="modal-wrap CMYMCP215" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>계정조회</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
    
            <div class="detail-list">
                <ul>
                    <li>
                        <div class="data-list">
                            <strong class="list-name">kim****in</strong>
                            <ul>
                                <li>
                                    <span class="tit">가입일</span>
                                    <span class="txt">2021.01.01</span>
                                </li>
                                <!-- 2021-08-05 항목 삭제 -->
                                <!-- <li>
                                    <span class="tit">계정상태</span>
                                    <span class="txt">활동</span>
                                </li> -->
                                <!-- // 2021-08-05 항목 삭제 -->
                                <li>
                                    <span class="tit">충전수단</span><!-- 2021-08-05 문구수정 -->
                                    <a href="javascript:;" class="txt">
                                        <span>3개 등록</span>
                                        <i class="icon16 icon-arrow-right-black"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="data-list">
                            <strong class="list-name">kim****in</strong>
                            <ul>
                                <li>
                                    <span class="tit">가입일</span>
                                    <span class="txt">2021.01.01</span>
                                </li>
                                <!-- 2021-08-05 항목 삭제 -->
                                <!-- <li>
                                    <span class="tit">결제수단</span>
                                    <span class="txt">활동</span>
                                </li> -->
                                <!-- // 2021-08-05 항목 삭제 -->
                                <li>
                                    <span class="tit">충전수단</span><!-- 2021-08-05 문구수정 -->
                                    <span class="txt">-</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>