<div class="modal-wrap CMYMCP346-1" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">            
            <button type="button" class="btn-history-back">뒤로</button>
            <h3>기관 선택</h3>
        </div>
        <div class="modal-body">
            <div class="scroll-choice-area">
                <div class="scroll-choice-list column-1">
                    <ul class="agency">
                        <li><button type="button" class="btn-scroll-choice">전체 기관</button></li><!-- 값이 입력되면 클래스 'active' 추가 -->
                        <li><button type="button" class="btn-scroll-choice">KB국민은행</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>