<div class="modal-wrap CMYMCP250" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<!-- 2021-07-30 항목변경으로 인한 전체적인 구조 수정 -->
			<div class="data-list">
				<h3 class="list-tit">
					<span>상환</span>
				</h3>
				<ul>
					<li>
						<span class="tit">거래일시</span>
						<span class="txt">2021.02.04 13:20:28</span>
					</li>
					<li>
						<span class="tit">거래번호</span>
						<span class="txt">XXXXXXXXXXXXXXXXXX</span>
					</li>
                    <li>
						<span class="tit">거래금액</span>
						<span class="txt bold">300,000,000원</span>
					</li>
                    <li>
						<span class="tit">거래금액 중 원금</span>
						<span class="txt">99,990,00원</span>
					</li>
                    <li>
						<span class="tit">거래금액 중 이자</span>
						<span class="txt">100,000원</span>
					</li>
				</ul>
				<ul class="bg-gray">
                    <li>
						<span class="tit">적용이율</span>
						<span class="txt plus">4.75%</span>
					</li>
                    <li>
						<span class="tit">이자적용기간</span>
						<span class="txt">2021.02.01 ~ 2021.12.31</span>
					</li>
                    <li>
						<span class="tit">이자종류</span>
						<span class="txt">정상이자</span>
					</li>
				</ul>
				<ul>
					<li>
						<span class="tit">환출이자</span>
						<span class="txt">1,500원</span>
					</li>
					<li>
						<span class="tit">거래 후 대출잔액</span>
						<span class="txt">300,000,000원</span>
					</li>
				</ul>
			</div>
			<!-- // 2021-07-30 항목변경으로 인한 전체적인 구조 수정 -->
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>