<div class="modal-wrap CMYMCP306" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="result-box">
                <i class="icon48 icon-error"></i>
                <p class="tit">마이데이터 서비스 미가입 상태입니다.</p>
                <p class="txt">서비스 가입을 진행하시겠습니까?</p>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>다음에</span></button>
                <button type="button" class="btn-yellow"><span>서비스 가입</span></button>
            </div>
        </div>
    </div>
</div>