<div class="modal-wrap CMYMCP307" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>연결해제 안내</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <h4 class="contents-title-300">연결해제 정보를 확인해 주세요.</h4>
            
            <!-- 2021-07-16 마크업 삭제 -->
            <!-- <ul class="bg-gray">
                <li>ㅇㅇㅇㅇㅇㅇㅇㅇ보통예금 (1234567890123)</li>
                <li>ㅇㅇㅇㅇㅇㅇ적금 (3456789012345)</li>
            </ul> -->
            <!-- // 2021-07-16 마크업 삭제 -->

            <!-- 2021-07-16 마크업 추가 -->
            <ul class="property-list">
                <li>
                    <div class="box">
                        <p class="tit">ㅇㅇㅇㅇㅇㅇㅇㅇ보통예금</p>
                        <ul class="info">
                            <li>입출금</li>
                            <li>1234567890123</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <p class="tit">삼성아세안증권자투자신탁제132호[주식]종류C-E…</p>
                        <ul class="info">
                            <li>입출금</li>
                            <li>1234567890123</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- // 2021-07-16 마크업 추가 -->

            <ul class="bullet-list">
                <li>해당 계좌/상품의 전송요구 해제 시 마이데이터와 연동되는 다른 서비스(내자산, 내차구매, 차테크, 내차고)의 일부 기능 이용에 제약이 발생할 수 있습니다.</li>
                <li>전송요구 해제 시 연결된 개인신용정보 데이터는 고지된 보유기간 동안 삭제되지 않습니다.</li>
                <li>전송요구 해제 즉시 데이터 삭제를 원하시면 아래의 삭제 여부를 체크해 주세요.</li>
            </ul>

            <div class="tac">
                <label class="form-checkbox sm">
                    <input type="checkbox">
                    <i class="icon"></i>
                    <span class="txt">해제 즉시 데이터를 삭제합니다.</span>
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>취소</span></button>
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>