<div class="modal-wrap CMYMCP114" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <!--2021-10-29 팝업 제목이 3줄일 경우 h3태그에 클래스명 [.tit-small] 추가 -->
            <h3 class="tit-small">개인(신용)정보 수집·이용 동의(마이데이터 부수/겸영 서비스)_요약동의서</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">            
            <div class="body-120">본 동의서는 요약동의서 입니다. 상세동의서를 확인하시려면 아래 상세동의서 보기를 클릭해 주시기 바랍니다.</div>
            <div class="btn-agree-area">
                <button class="btn-txt">상세동의서</button>
            </div>
            <div class="agree-ex-area bc-ddd">
                <p class="txt-ex">
                    {요약 동의서 본문}<br />
                    호출 영역
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>