<div class="modal-wrap CMYMCP146" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="icon-area">
                <i class="icon48 icon-error"></i>
            </div>
            <div class="modal-title-txt">
                자산 연결 중<br />
                실패한 내역이 있습니다.
            </div>
            <div class="modal-txt">
                다시 연결하시겠습니까?<!-- 2021-07-27 문구 수정 -->
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>취소</span></button>
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>