<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>레이아웃</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <a href="javascript:;" class="header-link">마이데이터 관리</a> <!-- 2021-07-07 퍼블수정: 한글로 문구수정 -->
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP214">
					<div class="top-account-wrap">
                        <div class="account-name">
                            <div class="bank40"><img src="/images/bank/bank-sample.svg" alt="샘플"></div>
                            <strong>쿠페이머니</strong>
                            <ul class="info">
                                <li>쿠팡</li>
                            </ul>
                        </div>

                        <div class="account-data">
                            <strong class="tit">총 잔액</strong> <!-- 2021-06-22 퍼블수정 : 문구수정 -->
                            <div class="large-box">
                                <em>31,000,000</em><span>원</span>
                            </div>

                            <!-- .btn-detail에 [.active] 추가되면 .detail-contents 노출됨 -->
                            <button class="icon24 icon-arrow-bottom-black btn-detail" data-module="toggle" data-target="toggle1">상세정보 버튼</button>

                            <div class="detail-contents" data-name="toggle1">
                                <div class="data-list">
                                    <ul class="bg-gray">
                                        <li><!-- 2021-06-22 퍼블수정 : 마크업 추가 -->
                                            <span class="tit">가입일</span>
                                            <span class="txt">2010.01.01</span>
                                        </li>
                                        <li>
                                            <span class="tit">총 잔액</span>
                                            <span class="txt">100,000원</span>
                                        </li>
                                        <li>
                                            <span class="tit"><i class="icon16 icon-depth-line"></i> 충전포인트 잔액</span>
                                            <span class="txt">90,000원</span>
                                        </li>
                                        <li>
                                            <span class="tit"><i class="icon16 icon-depth-line"></i> 적립포인트 잔액</span>
                                            <span class="txt">10,000원</span>
                                        </li>
                                        <li>
                                            <span class="tit">적립예정</span>
                                            <span class="txt">0원</span>
                                        </li>
                                        <li>
                                            <span class="tit">소멸예정</span>
                                            <span class="txt">0원</span>
                                        </li>
                                        <li>
                                            <span class="tit">충전가능한도</span>
                                            <span class="txt">200만원</span>
                                        </li>
                                        <li>
                                            <span class="tit">보유계정 수</span>
                                            <span class="txt">
                                                <a href="javascript:;" class="link-box">2개</a>
                                            </span>
                                        </li>
                                        <!-- 2021-08-05 마크업 삭제 
                                        <li> 
                                            <span class="tit">자동충전정보 수</span>
                                            <span class="txt">
                                                <a href="javascript:;" class="link-box">3개</a>
                                            </span>
                                        </li>
                                        -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 2021-08-05 마크업 삭제
                    <div class="tab-underbar" data-module="tabmenu" data-contents="tabcontents1">
                        <ul>
                            <li><button class="active" data-target="cont1">선불거래내역</button></li>
                            <li><button class="" data-target="cont2">결제내역</button></li>
                        </ul>
                    </div>
                    -->
                    
                    <!--2021-08-05 기존 탭2개 -> 탭 사라지고 화면2개로 분할되서 마크업 구조 변경 -->
                    <div class="filter-area">
                        <ul class="period">
                            <li>1개월</li>
                            <!-- 2021-08-02 마크업 삭제
                            <li>전체</li>
                            -->
                        </ul>
                        <button type="button" class="icon24 icon-filter">검색조건 설정</button>
                    </div>
                    
                    <div class="detail-list">
                        <ul>
                            <li>
                                <p class="date">02.04</p>
                                <a href="javascript:;" class="detail-box">
                                    <p class="list-tit">충전</p>
                                    <p class="time">2021.02.04 15:25:08</p>
                                    <div class="data-list">
                                        <ul>
                                            <li>
                                                <span class="tit">가맹점명</span>
                                                <span class="txt">스타벅스 학동점</span>
                                            </li>
                                            <li>
                                                <span class="tit">거래금액</span>
                                                <span class="txt bold">50,000원</span>
                                            </li>
                                            <li>
                                                <span class="tit">잔액</span>
                                                <span class="txt">100,000원</span>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <p class="date">02.04</p>
                                <a href="javascript:;" class="detail-box">
                                    <p class="list-tit">{거래유형}</p>
                                    <p class="time">2021.02.04 15:25:08</p>
                                    <div class="data-list">
                                        <ul>
                                            <li>
                                                <span class="tit">가맹점명</span>
                                                <span class="txt">스타벅스 학동점</span>
                                            </li>
                                            <li>
                                                <span class="tit">거래금액</span>
                                                <span class="txt bold">50,000원</span> <!-- 2021-08-02 클래스명 [.del] 제거 -->
                                            </li>
                                            <li>
                                                <span class="tit">잔액</span>
                                                <span class="txt">50,000원</span>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--//2021-08-05 기존 탭2개 -> 탭 사라지고 화면2개로 분할되서 마크업 구조 변경 -->

				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>