<div class="modal-wrap CMYMCP226" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>카드선택</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="link-list">
                <!-- 2021-08-02 항목추가 -->
                <li>
                    <button type="button">
                        <span class="tit">카드 전체</span>
                    </button>
                </li>
                <!-- // 2021-08-02 항목추가 -->
                <li>
                    <button type="button">
                        <span class="tit">T-Premium KB국민카드 (1111********1234)</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">삼성카드 (2222********1234)</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">카드명 (카드번호)</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>