<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내자산 &gt; 마이테이터관리 &gt; 연결 자산 현황</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
            <h2>마이데이터 관리</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP300">
                    <div class="link-list-area">
                        <ul class="link-list">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon24 icon-datamanagement"></i>
                                    <span class="tit">데이터 연동 관리</span>
                                    <i class="icon16 icon-arrow-right-black"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon24 icon-errormanagement"></i>
                                    <span class="tit">연동 오류 관리</span>
                                    <i class="icon16 icon-arrow-right-black"></i>
                                </a>
                            </li>
                            <li>
                                <div class="accordion-wrap">
                                    <div class="accordion-header">
                                        <i class="icon24 icon-datahistory"></i>
                                        <span class="tit">데이터 활용 내역</span>
                                        <i class="icon16 icon-arrow-bottom-black">아코디언 열기</i>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="bg-gray">
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="tit">이용 및 제공 내역 조회</span>
                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="tit">개인신용정보 전송 내역</span>
                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="tit">마이데이터 서비스 동시 가입 내역</span>
                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="accordion-wrap">
                                    <div class="accordion-header">
                                        <i class="icon24 icon-notification"></i>
                                        <span class="tit">약관 및 알림 설정</span>
                                        <i class="icon16 icon-arrow-bottom-black">아코디언 열기</i>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="bg-gray">
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="tit">약관 및 이용동의</span>
                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="tit">알림설정</span>
                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="accordion-wrap">
                                    <div class="accordion-header">
                                        <i class="icon24 icon-join"></i>
                                        <span class="tit">마이데이터 서비스 가입/탈퇴</span>
                                        <i class="icon16 icon-arrow-bottom-black">아코디언 열기</i>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="bg-gray">
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="tit">가입</span>
                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="tit">탈퇴</span>
                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
					</div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>