<div class="modal-wrap CMYMCP003" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>내 차고에 차량을 등록해 보세요</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-07-27 마크업 삭제 
            <div class="registration-list-wrap">
                <ul class="registration-list">
                    <li>
                        <i class="icon image40"><img src="/images/sample/icon40-spend-maintain.svg" alt=""></i>
                        <p class="body-100 tit">내차 관리의 시작</p>
                        <p class="body-110 font-color-gray-200 price">정기검사일, 소모품교체 알림까지 챙겨드려요. </p>
                    </li>
                    <li>
                        <i class="icon image40"><img src="/images/sample/icon40-tax.svg" alt=""></i>
                        <p class="body-100 tit">내차 정보를 한눈에 보기</p>
                        <p class="body-110 font-color-gray-200 price">내차시세, 사고이력, 타이어정보까지 알아보세요.</p>
                    </li>
                </ul>
            </div>
            -->

            <!-- 2021-07-27 마크업 추가 -->
            <div class="img-finance">
                <div class="img-wrap">
                    <img src="/images/as/img-car-finance.svg" alt="내차">
                </div>
                <p class="tit">똑똑한 내차 관리의 시작</p>
                <p class="txt">
                    내 차량번호 입력하면 시세, 리콜정보, 사고이력, <br>
                    정기검사 등 모든 정보가 한눈에!
                </p>
            </div>
            <!--// 2021-07-27 마크업 추가 -->

            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>내차 등록</span></button>
            </div>
            
            <!-- 2021-07-27 마크업 삭제 
            <div class="button-form-box">
                <div class="form-box">
                    <label class="form-checkbox sm">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt">다음부터 이 화면을 띄우지 않음</span>
                    </label>
                </div>
            </div>
            <div class="bottom-space"></div>
            -->

            <!-- 2021-07-27 마크업 추가 -->
            <div class="tac">
                <button type="button" class="btn-txt">다음부터 이 화면을 띄우지 않음</button>
            </div>
            <!--// 2021-07-27 마크업 추가 -->

        </div>
    </div>
</div>