<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내자산 &gt; 마이테이터관리 &gt; 업데이트오류조회/재실행 오류 기관 조회</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP384">
					<p class="body-120">
						업데이트 중 오류가 발생한 정보제공기관이<br>
                        조회되었습니다.
                    </p>

                    <div class="accordion-list-wrap">
                        <ul>
                            <li>
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/icon40-bank-kb.svg" alt="KB국민은행"></span>
                                            <strong>KB국민은행</strong>
                                        </div>                    
                                        <div class="acco-right">
                                            <div class="num-box">
                                                <em class="fail">2</em>
                                            </div>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>입출금</li>
                                                        <li>1234567890123</li>
                                                    </ul>
                                                    <span class="date">최근 업데이트 <em>2021.04.10 15:20</em></span>
                                                </div>
                                                <button type="button" class="state fail">오류</button>
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB적금</p>
                                                    <ul class="info">
                                                        <li>예적금</li>
                                                        <li>1234567890123</li>
                                                    </ul>
                                                    <span class="date">최근 업데이트 <em>2021.04.10 15:20</em></span>
                                                </div>
                                                <button type="button" class="state fail">오류</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/icon40-card-kb.svg" alt="KB국민카드"></span>
                                            <strong>KB국민카드</strong>
                                        </div>                    
                                        <div class="acco-right">
                                            <div class="num-box">
                                                <em class="fail">4</em>
                                            </div>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>입출금</li>
                                                        <li>1234567890123</li>
                                                    </ul>
                                                    <span class="date">최근 업데이트 <em>2021.04.10 15:20</em></span>
                                                </div>
                                                <button type="button" class="state fail">오류</button>
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB적금</p>
                                                    <ul class="info">
                                                        <li>예적금</li>
                                                        <li>1234567890123</li>
                                                    </ul>
                                                    <span class="date">최근 업데이트 <em>2021.04.10 15:20</em></span>
                                                </div>
                                                <button type="button" class="state fail">오류</button>
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>입출금</li>
                                                        <li>1234567890123</li>
                                                    </ul>
                                                    <span class="date">최근 업데이트 <em>2021.04.10 15:20</em></span>
                                                </div>
                                                <button type="button" class="state fail">오류</button>
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB적금</p>
                                                    <ul class="info">
                                                        <li>예적금</li>
                                                        <li>1234567890123</li>
                                                    </ul>
                                                    <span class="date">최근 업데이트 <em>2021.04.10 15:20</em></span>
                                                </div>
                                                <button type="button" class="state fail">오류</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="accordion-wrap type-total">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <span class="bank"><img src="/images/sample/icon40-communication-sk.svg" alt="SK"></span>
                                            <strong>SK텔레콤</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <div class="num-box">
                                                <em class="fail">2</em>
                                            </div>
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul class="property-list">
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB Star*t통장-보통예금</p>
                                                    <ul class="info">
                                                        <li>입출금</li>
                                                        <li>1234567890123</li>
                                                    </ul>
                                                    <span class="date">최근 업데이트 <em>2021.04.10 15:20</em></span>
                                                </div>
                                                <button type="button" class="state fail">오류</button>
                                            </li>
                                            <li>
                                                <div class="box">
                                                    <p class="tit">KB적금</p>
                                                    <ul class="info">
                                                        <li>예적금</li>
                                                        <li>1234567890123</li>
                                                    </ul>
                                                    <span class="date">최근 업데이트 <em>2021.04.10 15:20</em></span>
                                                </div>
                                                <button type="button" class="state fail">오류</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>업데이트 재실행</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>