<div class="modal-wrap CMYMCP303" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>메뉴 선택</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="link-list">
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-addaccount"></i>
                        <span class="tit">계좌/상품 추가</span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-disconnect"></i>
                        <span class="tit">기관연결해제</span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-transferhistory"></i>
                        <span class="tit">개인신용정보 전송 내역</span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>