<div class="modal-wrap CMYMCP108" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>타이틀</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="terms-wrap">
                <div class="agree-pop-slide-area">
                    <div class="agree-pop-slide">
                        <div class="agree-pop-con">
                            테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 
                        </div>
                        <div class="agree-pop-con">
                            <div class="test-txt">본문영역</div>
                        </div>
                        <div class="agree-pop-con">
                            <div class="test-txt">본문영역</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>전체동의</span></button>
            </div>
        </div>
        <script>
            (function(){
                $(".agree-pop-slide-area .agree-pop-slide").slick({
                    dots: false,
                    arrows: true,
                    slidesToShow: 1,
                    infinite: false,
                    centerMode: true,
                    centerPadding:'0'
                });
            })();
        </script>
    </div>
</div>