<div class="modal-wrap CMYMCP272" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<ul>
					<li>
						<span class="tit">대출종류</span>
						<span class="txt">장기대출(카드론)</span>
					</li>
					<li>
						<span class="tit">대출상품명</span>
						<span class="txt">이지론</span>
					</li>
                    <li>
						<span class="tit">대출일시</span>
						<span class="txt">2021.04.02 15:20:20</span>
					</li>
                    <li>
						<span class="tit">대출회차</span>
						<span class="txt">2회차</span>
					</li>
                    <li>
						<span class="tit">이용금액</span>
						<span class="txt">12,000,000원</span>
					</li>
                    <li>
						<span class="tit">적용이율</span>
						<span class="txt">20.00%</span>
					</li>
					<li>
						<span class="tit">만기일</span>
						<span class="txt">2022.01.01</span>
					</li>
					<li>
						<span class="tit">대출잔액</span>
						<span class="txt bold">10,000,000원</span>
					</li>
					<li>
						<span class="tit">상환방법</span>
						<span class="txt">원리금균등분할상환</span>
					</li>
					<li>
						<span class="tit">상환이자</span>
						<span class="txt">10,000원</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>