<div class="modal-wrap CMYMCP153" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>상세정보 전송요구서</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <dl class="item-list">
                <dt>정보제공자(전송요구를 받는자)</dt>
                <dd>기관명1, 기관명2, 기관명3, 기관명4, 기관명5, 기관명6, …, 기관명N</dd>
                <dt>전송을 요구하는 개인신용정보</dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:10.5rem">
                                <col style="">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">은행</th>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>수신계좌 정보</li>
                                            <li>투자상품 정보</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">카드</th>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>카드 정보</li>
                                            <li>포인트 정보</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">보험</th>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>보험 정보 목록</li>
                                            <li>개인형 IRP 정보</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
                <dt>개인신용정보를 제공받는 자</dt>
                <dd>KB차차차</dd>
                <dt>전송을 요구하는 목적</dt>
                <dd>본인신용정보 통합조회 서비스의 이용</dd>
                <dt>전송을 요구하는 개인신용정보의 보유기간</dt>
                <dd>서비스 이용 종료 시 또는 수집·이용 동의 철회 시</dd>
                <dt>정기적 전송을 요구하는지 여부 및 요구하는 경우 그 주기</dt>
                <dd>
                    예
                    <ul class="bullet-list">
                        <li>기본정보(주 1회), 추가정보(주1회)</li>
                    </ul>
                </dd>
                <dt>전송요구의 종료시점(전송요구서의 유효기간)</dt>
                <dd>
                    1년 범위 내 직접 선택
                    <ul class="bullet-list">
                        <li>2021.03.31 ~ 2021.09.31</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
        </div>
    </div>
</div>