<div class="modal-wrap CMYMCP302-2" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>전송요구 내역</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="info-confirmation-area">
                <div class="info-confirmation">
                    <h4 class="contents-title-300">최초 연결</h4>
                    <span class="body-120">2021.04.10 15:20</span>
                </div>

                <div class="info-confirmation">
                    <h4 class="contents-title-300">전송 요구 기간</h4>
                    <span class="body-120">2021.04.10 ~ 2022.04.09</span>
                </div>

                <div class="info-confirmation">
                    <h4 class="contents-title-300">수집 목적 및 용도</h4>
                    <span class="body-120">통합조회 및 맞춤형 차량정보 제공</span>
                </div>

                <div class="info-confirmation">
                    <h4 class="contents-title-300">전송 요구한 세부 항목</h4>
                    <span class="body-120">계좌 기본정보, 추가정보 및 거래내역</span>
                </div>

                <div class="info-confirmation">
                    <h4 class="contents-title-300">전송된 세부 항목</h4>
                    <span class="body-120">계좌 기본정보, 추가정보 및 거래내역</span>
                </div>

                <div class="info-confirmation">
                    <h4 class="contents-title-300">정기적 전송 여부</h4>
                    <span class="body-120">정기적 전송 (주 1회)</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>