<div class="modal-wrap CMYMCP276" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<h3 class="list-tit">
					<span>OOOOOOO상품</span>
				</h3>
				<ul>
					<li>
						<span class="tit">상품종류</span>
						<span class="txt">국내주식</span>
					</li>
					<li>
						<span class="tit">상품종류 상세</span>
						<span class="txt">OOOOOO</span>
					</li>
					<li>
						<span class="tit">보유수량</span>
						<span class="txt">1,000</span>
					</li>
					<li>
						<span class="tit">매도가능수량</span>
						<span class="txt">1,000</span>
					</li>
					<li>
						<span class="tit">매입금액</span>
						<span class="txt">10,000,000원</span>
					</li>
					<li>
						<span class="tit">평가금액</span>
						<span class="txt bold">11,000,000원</span>
					</li>
					<li>
						<span class="tit">수익률</span>
						<span class="txt plus">+10.00%</span>
					</li>
					<li>
						<span class="tit">평가손익</span>
						<span class="txt plus">+1,000,000원</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>