<div class="modal-wrap CMYMCP260" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>가입정보 조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<h4 class="list-tit">
					<span>123하5678</span>
				</h4>
				<ul>
					<li>
						<span class="tit">계약상태</span>
						<span class="txt">정상</span>
					</li>
					<li>
						<span class="tit">보험종류</span>
						<span class="txt">자동차보험</span>
					</li>
                    <li>
						<span class="tit">자동차보험구분</span>
						<span class="txt">운전자보험</span>
					</li>
                    <li>
						<span class="tit">차량번호</span>
						<span class="txt">제네시스 G80</span>
					</li>
                    <li>
						<span class="tit">계약기간</span>
						<span class="txt">2021.02.10 ~ 2021.02.10</span>
					</li>
                    <li>
						<span class="tit">연령한정특약</span>
						<span class="txt">만35세이상 ~ 만49세이하</span>
					</li>
					<li>
						<span class="tit">운전자한정특약</span>
						<span class="txt">부부한정</span>
					</li>
					<li>
						<span class="tit">자기차량손해</span>
						<span class="txt">가입</span>
					</li>
					<li>
						<span class="tit">자기부담금</span>
						<span class="txt">20%</span>
					</li>
					<li>
						<span class="tit">자기부담금액</span>
						<span class="txt">2,000,000원</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>