<div class="modal-wrap CMYMCP268" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<h3 class="list-tit">
					<span>거래유형</span>
				</h3>
				<ul>
					<li>
						<span class="tit">거래일시</span>
						<span class="txt">2021.01.31 13:20:28</span>
					</li>
					<li>
						<span class="tit">거래번호</span>
						<span class="txt">1</span>
					</li>
					<!--2021-08-02 마크업 삭제
					<li>
						<span class="tit">통화코드</span>
						<span class="txt">원(KRW)</span>
					</li>
					-->
					<li>
						<span class="tit">기준가</span>
						<span class="txt">2,000원</span>
					</li>
					<li>
						<span class="tit">거래좌수</span>
						<span class="txt">1,000좌</span>
					</li>
					<li>
						<span class="tit">거래금액</span>
						<span class="txt bold">2,000,000원</span>
					</li>
					<li>
						<span class="tit">거래 후 평가금액</span>
						<span class="txt">13,000,000원</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>