<div class="modal-wrap CMYMCP365" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>동의서 타이틀</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <select name="" id="" class="inline-select">
                <option value="">2021-04-02</option>
                <option value="">2021-04-01</option>
            </select>

            <dl class="confirm-list">
                <dt>이용 목적</dt>
                <dd>통합자산관리, 금융상품추천 등</dd>
                <dt>수집항목</dt>
                <dd>ㅇㅇㅇㅇㅇㅇㅇㅇ보통예금 (1234567890123)</dd>
                <dd>ㅇㅇㅇㅇㅇㅇ적금 (3456789012345)</dd>
                <dt>보유기간</dt>
                <dd>2021.04.10 ~ 2022.04.09</dd>
            </dl>
        </div>
        <!-- 2021-07-16 마크업 추가 -->
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button><!-- 미동의일 경우 '동의', 동의일 경우 '동의 철회' -->
            </div>
        </div>
        <!-- // 2021-07-16 마크업 추가 -->
    </div>
</div>