<div class="modal-wrap CMYMCP387" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>오류내용 조회</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <dl class="confirm-list">
                <dt>오류 내용</dt>
                <dd>업데이트 처리 시간이 초과하였습니다.</dd>
                <dt>오류 코드</dt>
                <dd>XXXXXXXXX</dd>
                <dt>오류 일시</dt>
                <dd>2021.04.10 15:20</dd>
            </dl>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>