<div class="modal-wrap CMYMCP221" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<h3 class="list-tit">
					<span>스타벅스 학동역점</span>
				</h3>
				<ul>
					<li>
						<span class="tit">승인번호</span>
						<span class="txt">87654321</span>
					</li>
					<li> <!-- 2021-08-02 마크업 추가 -->
						<span class="tit">승인일시</span>
						<span class="txt">2021.03.01 15:01:08</span>
					</li>
                    <li>
						<span class="tit">결제상태</span>
						<span class="txt">승인</span>
					</li>
                    <li>
						<span class="tit">사용구분</span>
						<span class="txt">신용</span>
					</li>
					
					<!-- 2021-08-02 마크업 삭제 
                    <li>
						<span class="tit">거래일시</span>
						<span class="txt">2021.03.01 15:01:08</span>
					</li>
					-->

					<li> <!-- 2021-08-02 마크업 추가 / [결제상태 = 승인취소] 시에만 노출 -->
						<span class="tit">승인취소일시</span>
						<span class="txt">2021.03.01 15:01:08</span>
					</li>
					<li> <!-- 2021-08-02 마크업 추가 / [결제상태 = 정정] 시에만 노출 -->
						<span class="tit">정정일시</span>
						<span class="txt">2021.03.01 15:01:08</span>
					</li>
                    <li>
						<span class="tit">이용금액</span>
						<span class="txt bold">40,000원</span>
					</li>
					<li> <!-- 2021-08-02 마크업 추가 / [결제상태 = 정정] 시에만 노출 -->
						<span class="tit">정정 후 이용금액</span>
						<span class="txt bold">41,000원</span>
					</li>
                    <li>
						<span class="tit">전체 할부회차</span>
						<span class="txt">할부6개월</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>