<div class="modal-wrap CMYMCP364-1" data-type="window">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">알림동의 철회 안내</h3>
        </div>
        <div class="modal-body">
            <p class="modal-txt">
                마이데이터 서비스 알림 동의를<br />
                철회하시겠습니까?
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>취소</span></button>
                <button type="button" class="btn-txt-blue"><span>철회</span></button>
            </div>
        </div>
    </div>
</div>