<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>전송요구 목록 확인 : 자산목록</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP135">
                    <!-- 2021-06-28 마크업 추가 -->
					<div class="top-location">
						<ul>
							<li class="end"><span>1</span></li>
							<li class="active"><span>2</span></li>
							<li><span>3</span></li>
							<li><span>4</span></li>
						</ul>
					</div>
					<!-- // 2021-06-28 마크업 추가 -->
                    
					<h3 class="contents-title-100">
						전송요구 목록을 확인해 주세요.
					</h3>
                    
					<div class="table-wrap">
                        <table>
                            <caption>전송요구 목록</caption>
                            <colgroup>
                                <col style="width:32%">
                                <col style="width:68%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">KB국민은행</th>
                                    <td>
                                        <ul class="bullet-list sm">
                                            <li>수신계좌 목록</li>
                                            <li>투자상품 목록</li>
                                            <li>대출계좌 목록</li>
                                            <li>개인형 IRP 계좌 목록</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">KB증권</th>
                                    <td>
										<ul class="bullet-list sm">
                                            <li>계좌 목록</li>
                                            <li>개인형 IRP 계좌 목록</li>
                                        </ul>
									</td>
                                </tr>
                                <tr>
                                    <th scope="row">KB국민카드</th>
                                    <td>
										<ul class="bullet-list sm">
                                            <li>카드 목록</li>
                                        </ul>
									</td>
                                </tr>
                                <tr>
                                    <th scope="row">KB생명</th>
                                    <td>
										<ul class="bullet-list sm">
                                            <li>보험증권 목록</li>
                                            <li>대출계좌 목록</li>
                                            <li>개인형 IRP 계좌 목록</li>
                                        </ul>
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>전송요구</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>