<div class="modal-wrap CMYMCP144" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>전송요구 내역 확인</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <h3 class="contents-title-300">전송요구의 종료시점</h3>
            <p class="body-120">전송요구일로 부터 1년</p>
    
            <h3 class="contents-title-300">전송요구 목적</h3>
            <p class="body-120">통합조회 및 맞춤형 차량정보 제공</p>
    
            <h3 class="contents-title-300">전송요구 개인신용정보 보유기간</h3>
            <div class="select-box type-select default">
                <label for="" class="inp-tit">보유기간 선택</label>
                <select name="" id="">
                    <option value=""></option>
                    <option value="">1년</option>
                    <option value="">2년</option>
                    <option value="">3년</option>
                    <option value="">4년</option>
                    <option value="">5년</option>
                </select>
            </div>
    
            <h3 class="contents-title-300">전송요구하는 개인신용정보</h3>
            <div class="table-wrap">
                <table>
                    <caption>전송요구하는 개인신용정보</caption>
                    <colgroup>
                        <col style="width:32%">
                        <col style="width:68%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">KB국민은행</th>
                            <td>
                                <ul class="bullet-list sm">
                                    <li>계좌 기본정보, 추가정보 및 거래내역</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">KB증권</th>
                            <td>
                                <ul class="bullet-list sm">
                                    <li>계좌 기본정보, 추가정보 및 거래내역</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">KB국민카드</th>
                            <td>
                                <ul class="bullet-list sm">
                                    <li>카드 기본정보 및 승인정보</li>
                                    <li>포인트 정보</li>
                                    <li>청구 기본정보, 상세정보 및 결제정보</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">KB생명</th>
                            <td>
                                <ul class="bullet-list sm">
                                    <li>보험증권 기본정보, 추가정보 및 납입내역</li>
                                    <li>대출 기본정보, 추가정보 및 납입내역</li>
                                    <li>계좌 기본정보, 추가정보 및 거래내역</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>네, 확인하였습니다</span></button>
            </div>
        </div>
    </div>
</div>