<div class="modal-wrap CMYMCP253" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<!-- 2021-08-02 마크업 삭제 -->
				<!-- <h3 class="list-tit">
					<span>1234567890</span>
				</h3> -->
				<!-- // 2021-08-02 마크업 삭제 -->
				<ul>
					<li>
						<span class="tit">거래일시</span>
						<span class="txt">2021.02.04 13:20:28</span>
					</li>
					<!-- 2021-08-02 항목 수정 -->
                    <li>
						<span class="tit">거래번호</span>
						<span class="txt">1234567890</span>
					</li>
					<!-- // 2021-08-02 항목 수정 -->
                    <li>
						<span class="tit">대출원금상환액</span>
						<span class="txt bold">990,000원</span>
					</li>
                    <li>
						<span class="tit">이자납입액</span>
						<span class="txt bold">100,000원</span><!-- 2021-08-02 클래스 'bold' 추가 -->

                        <div class="data-list">
                            <ul class="bg-gray">
                                <li>
                                    <span class="tit">적용이율</span>
                                    <span class="txt plus">4.75%</span>
                                </li>
                                <li>
                                    <span class="tit">이자산정기간</span><!-- 2021-08-02 문구 수정 -->
                                    <span class="txt">2021.01.01 ~ 2021.02.01</span>
                                </li>
                                <li>
                                    <span class="tit">이자종류</span>
                                    <span class="txt">정상이자</span>
                                </li>
                            </ul>
                        </div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>