<div class="modal-wrap CMYMCP006" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>나의 순자산</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="assets-top">
                <span class="tit">순자산</span>
                <span class="price">210,000,000원</span>
            </div>
            <div class="assets-list-wrap">
                <ul class="assets-list">
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">내차고</span>
                            </label>
                        </span>
                        <span class="price">+300,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">예금</span>
                            </label>
                        </span>
                        <span class="price">+120,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">투자</span>
                            </label>
                        </span>
                        <span class="price">+130,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">IRP(퇴직연금)</span>
                            </label>
                        </span>
                        <span class="price">+100,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">전자금융</span>
                            </label>
                        </span>
                        <span class="price">+2,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">카드</span>
                            </label>
                        </span>
                        <span class="price">-2,000,000원</span>
                    </li>
                    <li>
                        <span class="tit">
                            <label class="form-checkbox all-check">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">대출·리스</span>
                            </label>
                        </span>
                        <span class="price">-100,000,000원</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>