<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>레이아웃</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP246">
                    <div class="filter-area">
                        <ul class="period">
                            <li>전체기관</li>
                            <li>2021-01</li>
                        </ul>
                        <button type="button" class="icon24 icon-filter">검색조건 설정</button>
                    </div>

                    <div class="detail-list">
                        <ul>
                            <li>
                                <div class="detail-list-top">
                                    <p class="tit">SK텔레콤</p>
                                    <p class="txt">108,500원</p>
                                </div>

                                <a href="javascript:;" class="detail-box">
                                    <p class="list-tit">01086**95**</p>
                                    <div class="data-list">
                                        <ul>
                                            <li>
                                                <span class="tit">청구금액</span>
                                                <span class="txt bold">102,000원</span>
                                            </li>
                                            <li>
                                                <span class="tit">통신구분</span>
                                                <span class="txt">휴대폰</span>
                                            </li>
                                        </ul>
                                    </div>
                                </a>

                                <a href="javascript:;" class="detail-box">
                                    <p class="list-tit">01086**95**</p>
                                    <div class="data-list">
                                        <ul>
                                            <li>
                                                <span class="tit">청구금액</span>
                                                <span class="txt bold">6,500원</span>
                                            </li>
                                            <li>
                                                <span class="tit">통신구분</span>
                                                <span class="txt">집전화</span>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="detail-list-top">
                                    <p class="tit">LG유플러스</p>
                                    <p class="txt">16,500원</p>
                                </div>

                                <a href="javascript:;" class="detail-box">
                                    <p class="list-tit">01024**95**</p>
                                    <div class="data-list">
                                        <ul>
                                            <li>
                                                <span class="tit">청구금액</span>
                                                <span class="txt bold">16,500원</span>
                                            </li>
                                            <li>
                                                <span class="tit">통신구분</span>
                                                <span class="txt">휴대폰</span>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>