<div class="modal-wrap CMYMCP054" data-type="alert" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">연결 실패 안내</h3>
        </div>
        <div class="modal-body">
            <!-- 2021-07-27 에러 메시지 추가 -->
            <div class="modal-txt">
                예기치 않는 오류가 발생하였습니다.동일 오류가 지속적 발생시<br>
                고객센터로 문의 바랍니다.<br>
                에러 메시지 : <span>SIGN_100</span>
            </div>
            <!-- // 2021-07-27 에러 메시지 추가 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>