<div class="modal-wrap CMYMCP261" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>납입내역 조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<h4 class="list-tit">
					<span>거래일시(또는 거래일자)</span>
				</h4>
				<ul>
					<li>
						<span class="tit">거래번호</span>
						<span class="txt">1111111111111</span>
					</li>
					<li>
						<span class="tit">차량번호</span>
						<span class="txt">123하5678</span>
					</li>
                    <li>
						<span class="tit">차량명</span>
						<span class="txt">제네시스 G80</span>
					</li>
                    <li>
						<span class="tit">납입회차</span>
						<span class="txt">2회차</span>
					</li>
                    <li>
						<span class="tit">실납입 보험료</span>
						<span class="txt bold">2,000,000원</span>
					</li>
                    <li>
						<span class="tit">납입방법</span>
						<span class="txt">신용카드</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>