<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내자산 &gt; 마이테이터관리 &gt; 연결 자산 현황</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>데이터 연동 관리</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP301">
                    <div class="contents-subtext-area">
                        <span>3</span>개 기관의 <span>3</span>개 자산이 연결되어 있습니다.
                    </div>
                    <div class="link-list-area">
                        <ul class="link-list">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon24"><img src="/images/sample/icon40-bank-kb.svg" alt="KB국민은행"></i>
                                    <span class="tit">KB국민은행</span>
                                    <i class="text-icon16 icon-error"></i>
                                    <span class="txt">2</span>
                                    <i class="icon16 icon-arrow-right-gray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon24"><img src="/images/sample/icon40-capital-kb.svg" alt="KB캐피탈"></i>
                                    <span class="tit">KB캐피탈</span>
                                    <span class="txt">1</span>
                                    <i class="icon16 icon-arrow-right-gray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon24"><img src="/images/sample/icon40-card-kb.svg" alt="KB국민카드"></i>
                                    <span class="tit">KB국민카드</span>
                                    <span class="txt">0</span>
                                    <i class="icon16 icon-arrow-right-gray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon24"><img src="/images/sample/icon40-card-kb.svg" alt="KB국민카드"></i>
                                    <span class="tit">ㅇㅇㅇㅇ은행</span>
                                    <span class="tag-round bg-gray">해제</span>
                                    <!-- <span class="txt">0</span> --><!-- 2021-07-21 연결해제 기관 - 연결개수 삭제 -->
                                    <i class="icon16 icon-arrow-right-gray"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="btn-wrap">
                            <button class="btn-border-gray"><i class="icon16 icon-plus-black"></i><span>기관 추가</span></button>
                        </div>
                        <!-- 2021-07-21 마크업 추가 (만료일 D-30부터 노출) -->
                        <div class="tac">
                            <button type="button" class="btn-txt">전송요구 기간 연장하기</button>
                        </div>
                        <!-- // 2021-07-21 마크업 추가 (만료일 D-30부터 노출) -->
					</div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>