<div class="modal-wrap CMYMCP152" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>전송요구(상세)/이용동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="agree-box">
                <label class="form-checkbox all-check">
                    <input type="checkbox">
                    <i class="icon"></i>
                    <span class="txt bold">전체동의</span>
                </label>
                <ul class="agree-list">
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">[필수] 상세정보 전송요구서</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">[필수] 개인(신용)정보 수집·이용 동의서(상세정보 전송)</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>