<div class="modal-wrap CMYMCP257" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="btn-history-back">뒤로</button>
            <h3>결제수단조회</h3>
        </div>
        <div class="modal-body">
            <div class="data-list"> <!--2021-08-02 ui 전체변경-->
				<ul>
					<li>
						<span class="tit">
							<em>KB국민은행</em>
							<span class="tag-round bg-gray">주결제</span><!-- 2021-08-05 문구수정 -->
						</span>
						<span class="txt">123456789012</span>
					</li>
					<li>
						<span class="tit">
							<em>롯데카드</em>
						</span>
						<span class="txt">34587890****9012</span>
					</li>
				</ul>                
			</div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>