<div class="modal-wrap CMYMCP151-1" data-type="window">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">전송요구 종료일 안내</h3>
        </div>
        <div class="modal-body">
            <p class="modal-txt">
                전송요구 종료일은 1년을 초과할 수 없습니다.<br>
                다시 선택해 주세요.
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>