<div class="modal-wrap CMYMCP305" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>데이터 삭제 확인</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <h4 class="contents-title-300">
                <!-- <strong>KB국민은행</strong><br> --><!-- 2021-07-16 마크업 삭제 -->
                데이터를 삭제 하시겠습니까?
            </h4>

            <!-- 2021-07-16 마크업 추가 -->
            <ul class="property-list">
                <li>
                    <div class="box">
                        <p class="tit">ㅇㅇㅇㅇㅇㅇㅇㅇ보통예금</p>
                        <ul class="info">
                            <li>입출금</li>
                            <li>1234567890123</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <p class="tit">삼성아세안증권자투자신탁제132호[주식]종류C-E…</p>
                        <ul class="info">
                            <li>입출금</li>
                            <li>1234567890123</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- // 2021-07-16 마크업 추가 -->

            <ul class="bullet-list">
                <li>현재 저장 중인 데이터를 즉시 삭제합니다.</li>
                <li>삭제 후 복구는 불가능합니다.</li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>취소</span></button>
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>