<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내자산 &gt; 마이테이터관리 &gt; 알림 설정</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
            <h2>알림 설정</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP364">
					<!-- 2021-07-16 마크업 추가 -->
					<p class="body-120">알림 OFF 시에도 중요한 정보의 수신은 가능합니다.</p>
					<div class="agree-box">
                        <label class="form-checkbox all-check">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">마이데이터 서비스 알림 동의</span>
                        </label>
						<a href="javascript:;" class="icon16 icon-arrow-right-black">약관보기</a><!-- 2021-07-16 클래스 수정 -->
                    </div>
					<!-- // 2021-07-16 마크업 추가 -->

					<!-- 2021-07-16 마크업 수정 -->
					<ul class="link-list">
                        <li>
                            <div>
                                <span class="tit">서비스 문자 알림</span>
                                <label class="form-switch sm">
                                    <input type="checkbox">
                                    <i><span></span></i>
                                </label>
                            </div>
                        </li>
						<li>
                            <div>
                                <span class="tit">서비스 푸쉬 알림</span>
                                <label class="form-switch sm">
                                    <input type="checkbox">
                                    <i><span></span></i>
                                </label>
                            </div>
                        </li>
                    </ul>
					<!-- 2021-07-16 마크업 수정 -->

					<!-- 2021-07-16 마크업 삭제 -->
					<!-- <div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>저장</span></button>
                    </div>
					<div class="bottom-space"></div> -->
					<!-- // 2021-07-16 마크업 삭제 -->
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>