<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내자산 &gt; 조회 보증보험 &gt; 보증보험조회:가입정보(탭)</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <a href="javascript:;" class="header-link">마이데이터 관리</a> <!-- 2021-07-07 퍼블수정: 한글로 문구수정 -->
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP256">
					<div class="top-account-wrap">
                        <div class="account-name">
                            <div class="bank40"><img src="/images/sample/icon40-insurance-sgi.png" alt="SGI서울보증"></div>
                            <strong>신원보증보험</strong>
                            <ul class="info">
                                <li>SGI서울보증</li>
                            </ul>
                        </div>

                        <div class="account-data">
                            <strong class="tit">가입금액</strong>
                            <div class="large-box">
                                <em>31,000,000</em><span>원</span>
                            </div>

                            <div class="small-box">
                                <strong>총 납입보험료</strong>
                                <div class="account-box">
                                    <em class="">40,000,000</em><span>원</span>
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="tab-underbar" data-module="tabmenu" data-contents="tabcontents1">
                        <ul><!--선택된 li에 클래스명 [.active] 추가-->
                            <li><button class="active" data-target="cont1">가입정보</button></li>
                            <li><button class="" data-target="cont2">납입내역</button></li>
                        </ul>
                    </div>
                    <div class="tab-contents-wrap" >
                        <div class="tab-contents" data-name="tabcontents1">
                            <div class="tab-content active" data-name="cont1">
                                <div class="data-list">
                                    <ul>
                                        <li>
                                            <span class="tit">증권번호</span>
                                            <span class="txt">12345678901234567890</span>
                                        </li>
                                        <li>
                                            <span class="tit">계약상태</span>
                                            <span class="txt">정상</span>
                                        </li>
                                        <li>
                                            <span class="tit">보험종류</span>
                                            <span class="txt">보증보험</span>
                                        </li>
                                        <li>
                                            <span class="tit">계약기간</span>
                                            <span class="txt">2021.02.01 ~ 2021.12.31</span>
                                        </li>
                                        <li>
                                            <span class="tit">보험가입금액</span>
                                            <span class="txt bold">50,000,000원</span> <!--2021-07-01 퍼블수정 : 문구 오타 수정-->
                                        </li>
                                        <li>
                                            <span class="tit">납입방법</span>
                                            <span class="txt">분납</span>
                                        </li>
                                        <li>
                                            <span class="tit">유니버셜여부</span>
                                            <span class="txt">N</span>
                                        </li>
                                        <li>
                                            <span class="tit">총 납입보험료</span>
                                            <span class="txt">40,000,000원</span>
                                        </li>
                                        <li>
                                            <span class="tit">피보험자명</span>
                                            <span class="txt">김국민</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content" data-name="cont2"> 
                                <div class="filter-area">
                                    <ul class="period">
                                        <li>1개월</li>
                                        <!-- <li>전체</li> --><!-- 2021-08-02 항목삭제 -->
                                    </ul>
                                    <button type="button" class="icon24 icon-filter">검색조건 설정</button>
                                </div>
                                <div class="detail-list">
                                    <ul>
                                        <li>
                                            <div class="date">02.04</div>
                                            <div class="detail-box"><!--링크면 a태그로 교체-->
                                                <div class="list-tit">2회차</div>
                                                <div class="data-list">
                                                    <ul>
                                                        <li>
                                                            <span class="tit">납입금액</span>
                                                            <span class="txt bold">5,000,000원</span>
                                                        </li>
                                                        <li>
                                                            <span class="tit">납입방법</span>
                                                            <span class="txt">가상계좌</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="date">02.04</div>
                                            <div class="detail-box"><!--링크면 a태그로 교체-->
                                                <div class="list-tit">납입회차</div>
                                                <div class="data-list">
                                                    <ul>
                                                        <li>
                                                            <span class="tit">납입금액</span>
                                                            <span class="txt bold">실납입보험료</span>
                                                        </li>
                                                        <li>
                                                            <span class="tit">납입방법</span>
                                                            <span class="txt">현금</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>