<div class="modal-wrap CMYMCP247" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<h3 class="list-tit">
					<span>SK텔레콤</span>
                    <span>0234**56**</span>
				</h3>
				<ul>
					<li>
						<span class="tit">계약관리번호</span>
						<span class="txt">123456789012345</span>
					</li>
                    <li>
						<span class="tit">통신구분</span>
						<span class="txt">집전화</span>
					</li>
                    <li>
						<span class="tit">청구금액</span>
						<span class="txt bold">6,500원</span>
					</li>
                    <li>
						<span class="tit">납부예정일</span>
						<span class="txt">2021.03.05</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>