<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내자산 &gt; 마이테이터관리 &gt; 통지수단관리 통지 방법/주기 설정</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content as">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMCP361">
					<h3 class="contents-title-100">
						전송내역 통지<br />
                        방법 및 주기를 설정해 주세요.
					</h3>

                    <div class="send-notice-area">
                        <h4>
                            <strong class="contents-title-300">통지 방법</strong>
                            <span class="alarm-txt"><i class="icon16 icon-info">!</i>최소 1개 이상 선택해주세요.</span>
                        </h4>
                        <div class="checkbox-area">
                            <ul>
                                <li>
                                    <label class="form-checkbox">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt">KB차차차 앱 푸시</span>
                                    </label>
                                </li>
                                    <li>
                                    <label class="form-checkbox">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt">SMS/MMS</span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <h4>
                            <strong class="contents-title-300">통지 주기</strong>
                        </h4>
                        <div class="radio-area">
                            <ul>
                                <li>
                                    <label class="form-radio" id="radio1">
                                        <input type="radio" name="radio-basic" id="radio1" checked="">
                                        <i class="icon"></i>
                                        <span class="txt">연 1회</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="form-radio" id="radio2">
                                        <input type="radio" name="radio-basic" id="radio2">
                                        <i class="icon"></i>
                                        <span class="txt">월 1회</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-dark-gray"><span>저장이 완료되었습니다.</span></button>
                        <button type="button" class="btn-yellow"><span>저장</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>