<div class="modal-wrap CMYMCP270" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<ul>
					<li>
						<span class="tit">대출종류</span>
						<span class="txt">일부결제금액 이월 약정(리볼빙)</span>
					</li>
					<li>
						<span class="tit">신청일</span>
						<span class="txt">2021.04.02</span>
					</li>
                    <li>
						<span class="tit">최소결제비율</span>
						<span class="txt">20%</span>
					</li>
                    <li>
						<span class="tit">최소결제금액</span>
						<span class="txt">2,000,000원</span>
					</li>
                    <li>
						<span class="tit">약정결제비율</span>
						<span class="txt">20.00%</span>
					</li>
                    <li>
						<span class="tit">약정결제금액</span>
						<span class="txt">2,000,000원</span>
					</li>
                    <li>
						<span class="tit">이월잔액</span>
						<span class="txt bold">7,833,334원</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>