<div class="modal-wrap CMYMCP132-1" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>선택 기관 확인</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="choice-wrap">
                <h4 class="list-tit">은행</h4>
                <ul>
                    <li>
                        <span class="txt">KB국민은행</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                    <li>
                        <span class="txt">IBK기업은행</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                    <li>
                        <span class="txt">IBK기업은행</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                    <li>
                        <span class="txt">KEB하나은행</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                </ul>
            </div>
    
            <div class="choice-wrap">
                <h4 class="list-tit">증권</h4>
                <ul>
                    <li>
                        <span class="txt">KB증권</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                    <li>
                        <span class="txt">DB금융투자</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                </ul>
            </div>
    
            <div class="choice-wrap">
                <h4 class="list-tit">카드</h4>
                <ul>
                    <li>
                        <span class="txt">KB국민카드</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                    <li>
                        <span class="txt">비씨카드</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                </ul>
            </div>
    
            <div class="choice-wrap">
                <h4 class="list-tit">보험</h4>
                <ul>
                    <li>
                        <span class="txt">KB생명</span>
                        <button type="button" class="btn-delete"><i class="icon16 icon-close"></i><span>삭제</span></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>다음</span></button>
            </div>
        </div>
    </div>
</div>