<div class="modal-wrap CMYMCP347" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">            
            <button type="button" class="btn-history-back">뒤로</button>
            <h3>유형 선택</h3>
        </div>
        <div class="modal-body">
            <div class="scroll-choice-area">
                <div class="scroll-choice-list column-1">
                    <ul class="agency">
                        <li><button type="button" class="btn-scroll-choice">전체 유형</button></li><!-- 값이 입력되면 클래스 'active' 추가 -->
                        <li><button type="button" class="btn-scroll-choice">전송요구(신규)</button></li>
                        <li><button type="button" class="btn-scroll-choice">전송요구(변경)</button></li>
                        <li><button type="button" class="btn-scroll-choice">전송요구 해제</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>