<div class="modal-wrap CMYMCP382" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>서비스 탈퇴 확인</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="bullet-wrap">
                <h4 class="tit">
                    마이데이터 서비스 탈퇴를<br>
                    진행 하시겠습니까?
                </h4>
                <ul class="bullet-list">
                    <li>서비스 탈퇴 시 연결중인 전송요구는 자동 해제됩니다.</li>
                    <li>서비스 탈퇴 즉시 연결된 개인신용정보 데이터는 자동으로 폐기되며, 복구가 불가능합니다.</li>
                    <li>마이데이터 서비스를 다시 이용하고자 할 경우 통합
                        인증 또는 개별인증을 다시 진행하셔야 합니다.</li>
                </ul>
            </div>
            <div class="tac">
                <label class="form-checkbox sm">
                    <input type="checkbox">
                    <i class="icon"></i>
                    <span class="txt">유의사항을 확인하였습니다.</span>
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>취소</span></button>
                <button type="button" class="btn-yellow" disabled><span>확인</span></button>
            </div>
        </div>
    </div>
</div>