<div class="modal-wrap CMYMCP008" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">전송요구 기간 연장 안내</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="modal-txt">
                전송요구 기간이 곧 만료됩니다.<br />
                기간 연장을 하시겠습니까?
            </div>
            <div class="table-wrap">
                <table>
                    <caption>테이블</caption>
                    <colgroup>
                        <col style="width:35%">
                        <col style="width:65%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">KB국민은행</th>
                            <td>2021.06.20 만료 예정</td>
                        </tr>
                        <tr>
                            <th scope="row">KB증권</th>
                            <td>2021.07.02 만료 예정</td>
                        </tr>
                        <tr>
                            <th scope="row">KB국민카드</th>
                            <td>2021.07.02 만료 예정</td>
                        </tr>
                        <tr>
                            <th scope="row">KB생명</th>
                            <td>2021.07.02 만료 예정</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bullet-wrap">
                <ul class="bullet-list">
                    <li>전송요구 기간 만료일 경과 시 연결 중인 자산은 자동으로 연결 해제됩니다.</li> <!-- 2021-07-26 문구수정 -->
                    <li>전송요구 기간 연장을 원하시면 아래의 연장하기 버튼을 눌러 진행하시기 바랍니다.</li> <!-- 2021-07-26 문구수정 -->
                </ul>
            </div>

            <div class="button-form-box">
                <div class="form-box">
                    <label class="form-checkbox sm">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt">1주일간 안내를 받지 않음</span> <!-- 2021-07-26 문구수정 -->
                    </label>
                </div>
            </div>

            <!-- 2021-07-26 마크업 삭제
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>다음에</span></button>
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
            <div class="button-form-box">
                <div class="form-box">
                    <label class="form-checkbox sm">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt">일주일간 안내를 받지 않겠습니다.</span>
                    </label>
                </div>
            </div>
            <div class="bottom-space"></div>
            -->

        </div>

        <!--2021-07-26 마크업 추가-->
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>다음에</span></button>
                <button type="button" class="btn-yellow"><span>연장하기</span></button> <!-- 2021-07-26 문구수정 -->
            </div>
        </div>
        
        
    </div>
</div>