<div class="modal-wrap CMYMCP309" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>전송요구 기간 연장</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="bullet-wrap">
                <h4 class="tit">
                    고객님이 연동한 금융기관의 <br>
                    전송요구 기간을 연장합니다.
                </h4>
                <ul class="bullet-list">
                    <li>전송요구 기간 만료일 도래 시 연장이 필요합니다.(최대 기간 1년)</li>
                    <li>기관 마다 연장 선택 시 각 금융기관을 개별적으로 연장하여야 합니다.</li>
                    <li>한번에 연장 선택 시 모든 금융기관을 일괄로 연장할 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>기관 마다 연장</span></button>
                <button type="button" class="btn-yellow"><span>한번에 연장</span></button>
            </div>
        </div>
    </div>
</div>