<div class="modal-wrap CMYMCP101" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>서비스이용 동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="agree-box">
                <label class="form-checkbox all-check">
                    <input type="checkbox">
                    <i class="icon"></i>
                    <span class="txt">전체동의</span>
                </label>
                <!-- 2021-07-27 항목 추가 & 수정 -->
                <ul class="agree-list">
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">[필수] 마이데이터 서비스 이용 약관</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">[필수] 개인신용정보 수집 및 이용 동의</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">[선택] 마이데이터 서비스 알림 동의</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                </ul>
                <!-- // 2021-07-27 항목 추가 & 수정 -->
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>