<div class="modal-wrap CMYMCP143" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="btn-history-back">뒤로</button>
            <h3>정기전송 주기 설정</h3>
        </div>
        <div class="modal-body">
            <ul class="link-list">
                <li>
                    <button type="button">
                        <span class="tit">주 1회</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">주 2회</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">주 3회</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">주 4회</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">주 5회</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">주 6회</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">일 1회</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>