<div class="modal-wrap CMYMCP004" data-type="alert" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">오류 안내</h3>
        </div>
        <div class="modal-body">
            <div class="modal-txt">
                트래픽 과부하로 인하여<br />
                내자산 서비스 제공이 원할하지 않습니다.<br />
                잠시 후 다시 시도해 주세요.
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>