<div class="modal-wrap CMYMCP345-1" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">            
            <button type="button" class="btn-history-back">뒤로</button>
            <h3>조회 기간 선택</h3>
        </div>
        <div class="modal-body">
            <div class="scroll-choice-area">
                <div class="scroll-choice-list column-2">
                    <ul class="year max-height243">
                        <li><button type="button" class="btn-scroll-choice">2021</button></li><!-- 값이 입력되면 클래스 'active' 추가 -->
                        <li><button type="button" class="btn-scroll-choice">2020</button></li>
                        <li><button type="button" class="btn-scroll-choice">2019</button></li>
                        <li><button type="button" class="btn-scroll-choice">2018</button></li>
                        <li><button type="button" class="btn-scroll-choice">2017</button></li>
                        <li><button type="button" class="btn-scroll-choice">2016</button></li>
                        <li><button type="button" class="btn-scroll-choice">2015</button></li>
                        <li><button type="button" class="btn-scroll-choice">2014</button></li>
                        <li><button type="button" class="btn-scroll-choice">2013</button></li>
                        <li><button type="button" class="btn-scroll-choice">2012</button></li>
                        <li><button type="button" class="btn-scroll-choice">2011</button></li>
                        <li><button type="button" class="btn-scroll-choice">2010</button></li>
                        <li><button type="button" class="btn-scroll-choice">2009</button></li>
                        <li><button type="button" class="btn-scroll-choice">2008</button></li>
                        <li><button type="button" class="btn-scroll-choice">2007</button></li>
                        <li><button type="button" class="btn-scroll-choice">2006</button></li>
                        <li><button type="button" class="btn-scroll-choice">2005</button></li>
                        <li><button type="button" class="btn-scroll-choice">2004</button></li>
                        <li><button type="button" class="btn-scroll-choice">2003</button></li>
                        <li><button type="button" class="btn-scroll-choice">2002</button></li>
                        <li><button type="button" class="btn-scroll-choice">2000</button></li>
                        <li><button type="button" class="btn-scroll-choice">2001</button></li>
                    </ul>
                    <ul class="month max-height243">
                        <li><button type="button" class="btn-scroll-choice">01</button></li><!-- 값이 입력되면 클래스 'active' 추가 -->
                        <li><button type="button" class="btn-scroll-choice">02</button></li>
                        <li><button type="button" class="btn-scroll-choice">03</button></li>
                        <li><button type="button" class="btn-scroll-choice">04</button></li>
                        <li><button type="button" class="btn-scroll-choice">05</button></li>
                        <li><button type="button" class="btn-scroll-choice">06</button></li>
                        <li><button type="button" class="btn-scroll-choice">07</button></li>
                        <li><button type="button" class="btn-scroll-choice">08</button></li>
                        <li><button type="button" class="btn-scroll-choice">09</button></li>
                        <li><button type="button" class="btn-scroll-choice">10</button></li>
                        <li><button type="button" class="btn-scroll-choice">11</button></li>
                        <li><button type="button" class="btn-scroll-choice">12</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>