<div class="modal-wrap CMYMCP277" data-type="toast" data-uicomponent="modal">
	<div class="modal">
		<div class="modal-header">
			<h3>상세조회</h3>
			<button class="modal-close">닫기</button>
		</div>
		<div class="modal-body">
			<div class="data-list">
				<ul>
					<li>
						<span class="tit">대출종류</span>
						<span class="txt">단기대출(현금서비스)</span>
					</li>
					<li>
						<span class="tit">이용일시</span>
						<span class="txt">2021.04.02 15:20:20</span>
					</li>
                    <li>
						<span class="tit">이용금액</span>
						<span class="txt">3,000,000원</span>
					</li>
                    <li>
						<span class="tit">대출잔액</span>
						<span class="txt bold">2,000,000원</span>
					</li>
                    <li>
						<span class="tit">결제예정일</span>
						<span class="txt">2021.04.02</span>
					</li>
                    <li>
						<span class="tit">적용이율</span>
						<span class="txt">20.00%</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="modal-footer">
			<div class="btn-area">
				<button type="button" class="btn-yellow"><span>확인</span></button>
			</div>
		</div>
	</div>
</div>