<div class="modal-wrap CMYMCP349" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="result-box">
                <i class="icon48 icon-error"></i>
                <p class="tit">
                    이미 <strong>2021.01.01</strong>에<br>
                    마이데이터 서비스 가입을 하셨습니다.
                </p>
                <a href="javascript:;" class="btn-txt">내자산 조회로 이동</a>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>