<div class="modal-wrap CMYMCP112" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <!--2021-10-29 팝업 제목이 3줄일 경우 h3태그에 클래스명 [.tit-small] 추가 -->
            <h3 class="tit-small">개인(신용)정보 수집·이용 동의(마이데이터 부수/겸영 서비스)_상세동의서</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-10-13 예시 영역 추가 -->    
            <div class="agree-ex-area bc-dddddd"><!-- 2021-10-13 bc-dddddd클래스 삭제시 배경색 없음 -->
                <p class="txt-ex">
                    {상세 동의서 본문}<br />
                    영역
                </p>
            </div>
        </div>        
        <div class="modal-footer">
            <!-- 2021-10-13 삭제
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>동의</span></button>
            </div>
            -->
        </div>        
    </div>
</div>