<div class="modal-wrap CMYMCP217" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>자동충전정보</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
    
            <div class="detail-list">
                <ul>
                    <li>
                        <div class="data-list">
                            <strong class="list-name">OOO은행</strong>
                            <ul>
                                <li>
                                    <span class="tit">충전수단 식별번호</span>
                                    <span class="txt">123******02</span>
                                </li>
                                <li>
                                    <span class="tit">충전조건</span>
                                    <span class="txt">월정액 자동충전</span>
                                </li>
                                <li>
                                    <span class="tit">기준날짜</span>
                                    <span class="txt">매월 01일</span>
                                </li>
                                <li>
                                    <span class="tit">충전금액</span>
                                    <span class="txt bold">50,000원</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="data-list">
                            <strong class="list-name">OOO카드</strong>
                            <ul>
                                <li>
                                    <span class="tit">충전수단 식별번호</span>
                                    <span class="txt">123******02</span>
                                </li>
                                <li>
                                    <span class="tit">충전조건</span>
                                    <span class="txt">기준하한 자동충전</span>
                                </li>
                                <li>
                                    <span class="tit">기준금액</span>
                                    <span class="txt">10,000원</span>
                                </li>
                                <li>
                                    <span class="tit">충전금액</span>
                                    <span class="txt bold">50,000원</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>