<div class="modal-wrap CMYMCP258" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>상세조회</h3>
			<button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="data-list">
				<h3 class="list-tit">
					<span>결제</span>
				</h3>
				<ul>
					<!-- 2021-08-05 항목 추가 -->
					<li>
						<span class="tit">이용계정</span>
						<span class="txt">kim****in</span>
					</li>
					<!-- // 2021-08-05 항목 추가 -->
					<li>
						<span class="tit">주문번호</span>
						<span class="txt">ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</span>
					</li>
					<li>
						<span class="tit">결제일시</span>
						<span class="txt">2021.02.04 15:04:08</span>
					</li>
					<li>
						<span class="tit">결제번호</span>
						<span class="txt">A123456789012345</span>
					</li>
					<li>
						<span class="tit">결제금액</span>
						<span class="txt bold">50,000원</span>
					</li>
					<li>
						<span class="tit">결제수단 기관</span>
						<span class="txt">ㅇㅇㅇㅇ은행</span>
					</li>
					<li>
						<span class="tit">결제수단 식별번호</span>
						<span class="txt">123******02</span>
					</li>
					<li>
						<span class="tit">할부개월</span>
						<span class="txt">ㅇㅇ개월</span>
					</li>
					<!-- 2021-08-05 항목 추가 -->
					<li>
						<span class="tit">거래메모</span>
						<span class="txt">ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</span>
					</li>
					<!-- // 2021-08-05 항목 추가 -->
                    <li>
						<span class="tit">가맹점명</span>
						<span class="txt">스타벅스 학동점</span>
					</li>
                    <li>
						<span class="tit">구매상품명</span>
						<span class="txt">아이스아메리카노 벤티</span>
					</li>
                    <li>
						<span class="tit">구매상품분류</span>
						<span class="txt">식품</span>
					</li>
                    <li>
						<span class="tit">결제방법</span>
						<span class="txt">온라인 결제</span>
					</li>
				</ul>
			</div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>