@charset "UTF-8";

.CMYMGA015{
    .info-txt{
        margin-top:1.6rem;
        padding-left:2rem;
    }
    .tac{
        margin-top:2.4rem;
    }
    .form-checkbox{
        .txt{
            margin-left:0.4rem;
        }
    }
}