<div class="modal-wrap CMYCMM008" data-type="alert">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">본인확인 문자 인증</h3>
        </div>
        <div class="modal-body">
            <!-- 인증 메시지 오류 시 -->
            <p class="modal-txt">
                인증 메시지가 중복 수신되었거나<br>
                내용이 일치하지 않습니다.<br>
                메시지를 수정 없이 그대로 보내주세요
            </p>
            <!-- // 인증 메시지 오류 시 -->

            <!-- 시스템 오류 시 -->
            <!-- <p class="modal-txt">
                일시적인 시스템 오류가 발생하였습니다.<br>
                다시 시도해 주세요.
            </p> -->
            <!-- // 시스템 오류 시 -->

            <!-- 실명정보확인 – 정보 불일치 시 -->
            <!-- <p class="modal-txt">
                실명정보가 본인확인기관에 등록되어 있지 않습니다.<br>
                문제가 계속되는 경우 00고객센터에 문의해 주세요.<br>
                오류횟수(<span>1</span>/3)
            </p> -->
            <!-- // 실명정보확인 – 정보 불일치 시 -->

            <!-- 실명정보확인 – 이용시간 초과 시 -->
            <!-- <p class="modal-txt">
                장시간 이용하지 않아 서비스를 정상적으로 이용할 수 없습니다.<br>
                로그아웃 또는 앱을 재시동하신 뒤  다시 시도해 주세요.
            </p> -->
            <!-- // 실명정보확인 – 이용시간 초과 시 -->

            <!-- 실명정보확인 – 시스템 오류 시 -->
            <!-- <p class="modal-txt">
                일시적인 시스템 오류가 발생하였습니다.<br>
                다시 시도해 주세요
            </p> -->
            <!-- // 실명정보확인 – 시스템 오류 시 -->

            <!-- 실명정보확인 – 오류 횟수 초과 시 -->
            <!-- <p class="modal-txt">
                오류 횟수가 초과되었습니다.<br>
                5분 후 다시 진행해 주세요.
            </p> -->
            <!-- // 실명정보확인 – 오류 횟수 초과 시 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-blue"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>