<div class="modal-wrap CMYCMM002" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>약관명</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="terms-area">
                
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>