<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>아이디/비밀번호 로그인(딜러회원)</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>로그인</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content cm">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCMM009">
                    <div class="tab-underbar" data-module="tabmenu" data-contents="tabcontents1">
                        <ul>
                            <li><button class="active" data-target="cont1">일반회원</button></li>
                            <li><button class="" data-target="cont2">딜러회원</button></li>
                        </ul>
                    </div>
                    <div class="tab-contents-wrap" >
                        <div class="tab-contents" data-name="tabcontents1">
                            <div class="tab-content active" data-name="cont1">
                                <div class="inp-list-wrap">
									<ul>
										<li>
											<div class="inp-box type-basic default">
												<label for="inp1" class="inp-tit">아이디 입력</label>
												<input type="text" id="inp1">
												<button class="icon16 icon-close">삭제</button>
											</div>
										</li>
										<li>
											<div class="inp-box type-basic default">
												<label for="inp2" class="inp-tit">비밀번호 입력</label>
												<input type="password" id="inp2">
												<button class="icon16 icon-close">삭제</button>
											</div>
										</li>
									</ul>
								</div>

								<div class="form-box">
									<label class="form-checkbox">
										<input type="checkbox">
										<i class="icon"></i>
										<span class="txt">아이디 저장</span>
									</label>
									<label class="form-checkbox">
										<input type="checkbox">
										<i class="icon"></i>
										<span class="txt">자동 로그인</span>
									</label>
								</div>

								<div class="btn-area">
									<button class="btn-yellow" disabled><span>로그인</span></button>
								</div>

								<ul class="link-area">
									<li><a href="javascript:;">아이디 찾기</a></li>
									<li><a href="javascript:;">비밀번호 찾기</a></li>
									<li><a href="javascript:;">회원가입</a></li>
								</ul>

								<div class="sns-area">
									<p class="sns-tit">SNS 계정으로 로그인</p>
									<ul class="sns-link">
										<li>
											<a href="javascript:;">
												<i class="icon"><img src="/images/icon/icon-naver.svg" alt="네이버 아이콘"/></i>
												<span class="txt">네이버 계정으로 로그인</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<i class="icon"><img src="/images/icon/icon-kakao.svg" alt="카카오 아이콘"/></i>
												<span class="txt">카카오 계정으로 로그인</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<i class="icon"><img src="/images/icon/icon-facebook.svg" alt="페이스북 아이콘"/></i>
												<span class="txt">페이스북 계정으로 로그인</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<i class="icon"><img src="/images/icon/icon-google.svg" alt="구글 아이콘"/></i>
												<span class="txt">구글 계정으로 로그인</span>
											</a>
										</li>
									</ul>
								</div>

								<div class="tac">
									<button type="button" class="btn-txt-arrow"><span>로그인 방식 선택</span><i class="icon16 icon-arrow-top-gray"></i></button>
								</div>
                            </div>

                            <div class="tab-content" data-name="cont2">
                                <div class="inp-list-wrap">
									<ul>
										<li>
											<div class="inp-box type-basic default">
												<label for="inp3" class="inp-tit">아이디 입력</label>
												<input type="text" id="inp3">
												<button class="icon16 icon-close">삭제</button>
											</div>
										</li>
										<li>
											<div class="inp-box type-basic default">
												<label for="inp4" class="inp-tit">비밀번호 입력</label>
												<input type="password" id="inp4">
												<button class="icon16 icon-close">삭제</button>
											</div>
										</li>
									</ul>
								</div>

								<div class="form-box">
									<label class="form-checkbox">
										<input type="checkbox">
										<i class="icon"></i>
										<span class="txt">아이디 저장</span>
									</label>
									<label class="form-checkbox">
										<input type="checkbox">
										<i class="icon"></i>
										<span class="txt">자동 로그인</span>
									</label>
								</div>

								<div class="btn-area">
									<button class="btn-yellow" disabled><span>로그인</span></button>
								</div>

								<ul class="link-area">
									<li><a href="javascript:;">아이디 찾기</a></li>
									<li><a href="javascript:;">비밀번호 찾기</a></li>
									<li><a href="javascript:;">회원가입</a></li>
								</ul>

								<div class="tac">
									<button type="button" class="btn-txt-arrow"><span>로그인 방식 선택</span><i class="icon16 icon-arrow-top-gray"></i></button>
								</div>
                            </div>
                        </div>
                    </div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>