<div class="modal-wrap CMYCMM007" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>본인확인 문자 인증 진행 안내</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <p class="body-120">고객님의 안전한 금융거래를 위해 강화된 휴대폰 인증을 진행합니다. 문자메시지 화면에 자동으로 입력된 메시지를 수정없이 전송해주세요.</p>

            <div class="img-area">
                <img src="/images/sample/img-attestation.svg" alt="인증 예시이미지"/>
            </div>

            <ul class="bullet-list sm">
                <li>문자 인증에 실패한 경우, 휴대폰 설정 &gt; 전화 &gt; 전화걸기 지원 off 후 재시도 바랍니다.</li>
                <li>가입하신 요금제에 따라 통신사 SMS 발송 비용 (20원)이 부과될 수 있습니다.</li>
                <li>ARS인증으로 대체 진행이 가능합니다.</li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>ARS인증</span></button>
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>