<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>아이디 찾기</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>아이디 찾기</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content cm">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCMM014">
					<div class="inp-list-wrap">
                        <ul>
                            <li>
                                <div class="inp-box type-basic default">
                                    <label for="inp1" class="inp-tit">이름</label>
                                    <input type="text" id="inp1">
                                    <button class="icon16 icon-close">삭제</button>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="select-box type-select default">
                                    <label for="sel1" class="inp-tit">통신사</label>
                                    <select name="" id="sel1">
                                        <option value=""></option>
                                        <option value="">SKT</option>
                                        <option value="">KT</option>
                                        <option value="">LGU+</option>
                                        <option value="">SKT 알뜰폰</option>
                                    </select>
                                </div>
                            </li> -->
                            <li>
                                <button type="button" class="btn-select"><!-- 값이 입력되면 클래스 'active' 추가 -->
                                    <span class="tit">통신사</span>
                                    <span class="txt">SKT</span>
                                    <i class="icon16 icon-arrow-bottom-gray"></i>
                                </button>
                            </li>
                            <li>
                                <div class="inp-box type-number default">
                                    <label for="inp2" class="inp-tit">휴대폰번호(숫자만입력)</label>
                                    <input type="number" id="inp2">
                                    <div class="confirm-wrap">
                                        <button class="btn-rectangle">인증요청</button>
                                    </div>
                                </div>
                            </li>
                            <!-- 휴대폰번호 인증요청시 노출 -->
                            <li>
                                <div class="inp-box type-number default">
                                    <label for="inp3" class="inp-tit">인증번호 6자리</label>
                                    <input type="number" id="inp3" maxlength="6">
                                    <div class="confirm-wrap">
                                        <span class="stop-time">03:00</span>
                                        <button class="btn-rectangle">인증확인</button>
                                    </div>
                                </div>
                            </li>
                            <!-- // 휴대폰번호 인증요청시 노출 -->
                        </ul>
                    </div>

					<div class="btn-area bottom-fixed">
                        <button class="btn-yellow" disabled><span>확인</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>