<div class="modal-wrap CMYCMM001" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>자산등록 약관동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="agree-box">
                <label class="form-checkbox all-check">
                    <input type="checkbox">
                    <i class="icon"></i>
                    <span class="txt">약관 전체동의</span>
                </label>
                <ul class="agree-list">
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">서비스 이용약관</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">통합이용약관(출금/조회)</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">제3자 정보제공동의</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">개인(신용)정보 수집 이용동의</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                    <li>
                        <label class="form-checkbox sm">
                            <input type="checkbox">
                            <i class="icon"></i>
                            <span class="txt">계좌통합관리서비스 이용약관</span>
                        </label>
                        <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                    </li>
                </ul>
            </div>

            <!-- <ul class="bullet-list sm">
                <li>안내사항을 본인 이메일로 통지할 수 있습니다.</li>
                <li>이메일 변경시 KBOOO에서 사용되는 모든 이메일이 동시에 변경됩니다.</li>
            </ul> -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>