<div class="modal-wrap CMYCMM004-1" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>통신사 선택</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="link-list">
                <li>
                    <button type="button">
                        <span class="tit">SKT</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">KT</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">LGU+</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">SKT 알뜰폰</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>