<div class="modal-wrap CMYCMM010" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>로그인 방식 선택</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="link-list">
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-id"></i>
                        <span class="tit">아이디 / 비밀번호 입력</span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-pin"></i>
                        <span class="tit">PIN 번호 입력</span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-pattern"></i>
                        <span class="tit">패턴 입력</span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>