<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>레이아웃</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../css/mobile.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap coocon-wrap">
		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content coo">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section coo002">
					
					<div class="capital-card type-top">
						<h2 class="capital-logo"><img src="/images/coo/logo-kb-capital.svg" alt="KB캐피탈"></h2>
						<p class="tit">개별 본인인증</p>
						<p class="txt">
							개인 신용정보 전송요구를 위해 <br>
							다중인증이 필요합니다.
						</p>
						<div class="list-wrap">
							<ul class="list-step">
								<li class="end">
									<span class="num">1</span>
								</li>
								<li class="end">
									<span class="num">2</span>
								</li>
								<li class="">
									<span class="num">3</span>
								</li>
								<li class="">
									<span class="num">4</span>
								</li>
							</ul>
							<div class="list-text">
								<b>02</b>
								<span>추가인증 수단 선택</span>
							</div>
						</div>
					</div>

					<ul class="link-list line">
                        <li>
                            <a href="javascript:;">
                                <i class="icon32"><img src="/images/coo/icon32Kakaopay.png" alt="카카오페이"></i>
                                <span class="tit">카카오페이</span>
                                <i class="icon16 icon-arrow-right-black"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon32"><img src="/images/coo/icon32Toss.png" alt="토스"></i>
                                <span class="tit">토스</span>
                                <i class="icon16 icon-arrow-right-black"></i>
                            </a>
                        </li>
                    </ul>

					<div class="btn-area bottom-fixed">
                        <button type="button" class="btn-gray"><span>이전</span></button>
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>