<div class="modal-wrap CMYMGA206" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>타이어 규격 확인</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <h4 class="contents-title-300">단면폭</h4>
            <p class="body-120">단면폭은 타이어가 지면에 닿는 폭 넓이를 말하며 단위는 mm입니다. 단면폭이 넓을 경우 지면과의 접지력이 커져 코너 안정성은 높아지지만 그만큼  마찰력이 증가하기에 연비가 낮아지는 효과가 있습니다.</p>

            <h4 class="contents-title-300">편평비</h4>
            <p class="body-120">편평비는 타이어의 단면높이(두께)/단면폭*100 으로 계산한 값으로 단위는 비율%입니다. 편평비가 높으면 두께가 두꺼워져 승차감은 좋아지지만 코너링 안정감이 상대적으로 낮아지며 편평비가 낮을 경우에는 반대의 현상이 나타납니다. 때문에 스포츠카와 같은 고성능 주행 차량들은 상대적으로 낮은 편평비의 타이어를 장착합니다.</p>
            
            <h4 class="contents-title-300">인치</h4>
            <p class="body-120">인치는 휠 지름을 의미하며, 이름과 같이 단위는 인치(inch)입니다. 일반적으로 휠 지름이 클수록 타이어를 포함한 바퀴의 사이즈가 커져 타이어의 지면 마찰력과 무게의 증가로 연비가 떨어지는 현상이 나타나지만 코너 및 주행 안정성은 높아집니다. 때문에 연비를 중시한다면 지나치게 큰 사이즈의 휠을 장착하는 것은 좋지 않습니다.</p><!-- 2021-07-05 띄어쓰기 수정 -->
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>