<div class="modal-wrap CMYMGA008" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>보증 기간 설정</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            
            <dl class="part-list part-01">
                <dt>
                    <span class="tit">차체 및 일반 부품 보증</span>
                </dt>
                <dd>
                    <div class="inp-list-wrap">
                        <ul>
                            <li>
                                <div class="select-box type-select default">
                                    <label for="" class="inp-tit">주행거리</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">60,000km</option>
                                        <option value="">80,000km</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-box type-select default">
                                    <label for="" class="inp-tit">보증기간</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">1년</option>
                                        <option value="">2년</option>
                                        <option value="">3년</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-02">
                <dt>
                    <span class="tit">엔진 및 동력 주력 부품</span>
                </dt>
                <dd>
                    <div class="inp-list-wrap">
                        <ul>
                            <li>
                                <div class="select-box type-select default">
                                    <label for="" class="inp-tit">주행거리</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">60,000km</option>
                                        <option value="">80,000km</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-box type-select default">
                                    <label for="" class="inp-tit">보증기간</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">1년</option>
                                        <option value="">2년</option>
                                        <option value="">3년</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <div class="form-box">
                            <label class="form-checkbox">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">평생보증</span>
                            </label>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-03">
                <dt>
                    <span class="tit">Hybrid 전용부품</span>

                    <label class="form-switch sm">
                        <input type="checkbox">
                        <i><span></span></i>
                    </label>
                </dt>
                <dd>
                    <div class="inp-list-wrap">
                        <ul>
                            <li>
                                <div class="select-box type-select default">
                                    <label for="" class="inp-tit">주행거리</label>
                                    <select name="" id="" disabled>
                                        <option value=""></option>
                                        <option value="" selected>120,000km</option>
                                        <option value="">80,000km</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-box type-select default">
                                    <label for="" class="inp-tit">보증기간</label>
                                    <select name="" id="" disabled>
                                        <option value=""></option>
                                        <option value="">1년</option>
                                        <option value="">2년</option>
                                        <option value="" selected>10년</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <div class="form-box">
                            <label class="form-checkbox">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">평생보증</span>
                            </label>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-04">
                <dt>
                    <span class="tit">Electirc 전용부품</span>

                    <label class="form-switch sm">
                        <input type="checkbox">
                        <i><span></span></i>
                    </label>
                </dt>
                <dd>
                    <div class="inp-list-wrap">
                        <ul>
                            <li>
                                <div class="select-box type-select default">
                                    <label for="" class="inp-tit">주행거리</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">120,000km</option>
                                        <option value="">80,000km</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-box type-select default">
                                    <label for="" class="inp-tit">보증기간</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">1년</option>
                                        <option value="">2년</option>
                                        <option value="">10년</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <div class="form-box">
                            <label class="form-checkbox">
                                <input type="checkbox">
                                <i class="icon"></i>
                                <span class="txt">평생보증</span>
                            </label>
                        </div>
                        <p class="info-txt">
                            <i class="icon16 icon-info"></i>
                            차량의 최초등록일로부터 잔여 보증기간을 예측합니다.
                        </p>
                    </div>
                </dd>
            </dl>

        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>보증기간 설정하기</span></button>
            </div>
        </div>
    </div>
</div>