<div class="modal-wrap CMYMGA007" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>자동차보험 정보수정</h3><!-- 2021-07-28 띄어쓰기 수정 -->
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            
            <div class="inp-list-wrap">
                <ul>
                    <li>
                        <div class="select-box type-select default">
                            <label for="" class="inp-tit">보험사</label>
                            <select name="" id="">
                                <option value=""></option>
                                <option value="">KB손해보험</option>
                                <option value="">KB손해보험2</option>
                            </select>
                        </div>
                    </li>
                    <!-- 2021-07-28 마크업 수정 -->
                    <li>
                        <p class="label">보험 가입 시기</p>
                        <div class="date-box">
                            <input type="date">
                            <i class="icon24 icon-calendar">날짜검색</i>
                        </div>
                    </li>
                    <!-- // 2021-07-28 마크업 수정 -->
                </ul>
            </div>

            <dl class="part-list part-01">
                <dt>
                    <span class="tit">정보수집 안내</span>
                </dt>
                <dd>
                    <!-- 2021-07-28 마크업 수정 -->
                    <ul class="bullet-list sm">
                        <li>수집정보 : 차량번호, 보험사, 보험일자</li>
                        <li>보유기간 : 내차고 차량 등록 사용기간</li>
                    </ul>
                    <!-- // 2021-07-28 마크업 수정 -->
                </dd>
            </dl>

        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>삭제</span></button>
                <button type="button" class="btn-yellow"><span>수정하기</span></button>
            </div>
        </div>
    </div>
</div>