<div class="modal-wrap CMYMGA010" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>자동차세금안내</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">

            <h4 class="contents-title-300">과세기준</h4>

            <dl class="part-list part-01">
                <dt>
                    <span class="tit">승용자동차</span>
                </dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">배기량</th>
                                    <th scope="col">비영업용</th>
                                    <th scope="col">영업용</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>1,000cc이하</td>
                                        <td>80원/cc</td>
                                        <td rowspan="2">18원/cc</td>
                                    </tr>
                                    <tr>
                                        <td>1,600cc이하</td>
                                        <td>140원/cc</td>
                                    </tr>
                                    <tr>
                                        <td>2,000cc이하</td>
                                        <td rowspan="3">200원/cc</td>
                                        <td rowspan="2">19원/cc</td>
                                    </tr>
                                    <tr>
                                        <td>2,500cc이하</td>
                                    </tr>
                                    <tr>
                                        <td>2,500cc초과</td>
                                        <td>24원/cc</td>
                                    </tr>
                                    <tr>
                                        <td>전기자동차</td>
                                        <td>100,000원</td>
                                        <td>20,000원</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="bullet-list sm">
                        <li>차량에 따라 감액 적용(전기차 제외)</li>
                        <li>비영업용 승용차는 세액에 30%의 지방교육세 추가적용</li>
                    </ul>
                </dd>
            </dl>

            <dl class="part-list part-02">
                <dt>
                    <span class="tit">승합자동차</span>
                </dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">분류</th>
                                    <th scope="col">비영업용</th>
                                    <th scope="col">영업용</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>소형일반버스</td>
                                        <td>65,000원</td>
                                        <td>25,000원</td>
                                    </tr>
                                    <tr>
                                        <td>대형일반버스</td>
                                        <td>115,000원</td>
                                        <td>42,000원</td>
                                    </tr>
                                    <tr>
                                        <td>소형전세버스</td>
                                        <td></td>
                                        <td>50,000원</td>
                                    </tr>
                                    <tr>
                                        <td>대형전세버스</td>
                                        <td></td>
                                        <td>70,000원</td>
                                    </tr>
                                    <tr>
                                        <td>고속버스</td>
                                        <td></td>
                                        <td>100,000원</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-03">
                <dt>
                    <span class="tit">화물자동차</span>
                </dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:36%">
                                <col style="width:32%">
                                <col style="width:32%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">적재량</th>
                                    <th scope="col">비영업용</th>
                                    <th scope="col">영업용</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>1,000kg 이하</td>
                                        <td>28,500원</td>
                                        <td>6,600원</td>
                                    </tr>
                                    <tr>
                                        <td>2,000kg 이하</td>
                                        <td>34,500원</td>
                                        <td>9,600원</td>
                                    </tr>
                                    <tr>
                                        <td>3,000kg 이하</td>
                                        <td>48,000원</td>
                                        <td>13,500원</td>
                                    </tr>
                                    <tr>
                                        <td>4,000kg 이하</td>
                                        <td>63,000원</td>
                                        <td>18,000원</td>
                                    </tr>
                                    <tr>
                                        <td>5,000kg 이하</td>
                                        <td>79,500원</td>
                                        <td>22,500원</td>
                                    </tr>
                                    <tr>
                                        <td>8,000kg 이하</td>
                                        <td>130,500원</td>
                                        <td>36,000원</td>
                                    </tr>
                                    <tr>
                                        <td>10,000kg 이하</td>
                                        <td>157,500원</td>
                                        <td>45,000원</td>
                                    </tr>
                                    <tr>
                                        <td>10,000kg 초과</td>
                                        <td>+3만원/10톤</td>
                                        <td>+1만원/10톤</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="bullet-list sm">
                        <li>10톤 초과 시 10톤 이하 세액에 10톤을 초과할 때 마다 가산 (비영업용 3만원, 영업용 1만원 적용)</li>
                    </ul>
                </dd>
            </dl>

            <dl class="part-list part-04">
                <dt>
                    <span class="tit">특수자동차</span>
                </dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:40%">
                                <col style="width:30%">
                                <col style="width:30%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">분류</th>
                                    <th scope="col">비영업용</th>
                                    <th scope="col">영업용</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>소형특수자동차</td>
                                        <td>58,500원</td>
                                        <td>13,500원</td>
                                    </tr>
                                    <tr>
                                        <td>대형특수자동차</td>
                                        <td>157,500원</td>
                                        <td>36,000원</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-05">
                <dt>
                    <span class="tit">3륜이하 특수자동차</span>
                </dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">분류</th>
                                    <th scope="col">비영업용</th>
                                    <th scope="col">영업용</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>전체</td>
                                        <td>18,000원</td>
                                        <td>3,300원</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-06">
                <dt>
                    <span class="tit">차령에 따른 경감</span>
                </dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:50%">
                                <col style="width:50%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">차령</th>
                                    <th scope="col">경감률</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>1년</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>2년</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>3년</td>
                                        <td>5%</td>
                                    </tr>
                                    <tr>
                                        <td>4년</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>5년</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>6년</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>7년</td>
                                        <td>25%</td>
                                    </tr>
                                    <tr>
                                        <td>8년</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>9년</td>
                                        <td>35%</td>
                                    </tr>
                                    <tr>
                                        <td>10년</td>
                                        <td>40%</td>
                                    </tr>
                                    <tr>
                                        <td>11년</td>
                                        <td>45%</td>
                                    </tr>
                                    <tr>
                                        <td>12년</td>
                                        <td>50%</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="bullet-list sm">
                        <li>차령 3년 차 부터 연 세액을 5%씩 경감 (최대 50%)</li>
                        <li>전기차는 차량에 따른 경감률 미적용</li>
                    </ul>
                </dd>
            </dl>

            <dl class="part-list part-07">
                <dt>
                    <span class="tit">일반 과세기간 및 납기</span>
                </dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:22%">
                                <col style="width:25%">
                                <col style="width:25%">
                                <col style="width:28%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">납부기간</th>
                                    <th scope="col">과세기간</th>
                                    <th scope="col">과세기준일</th>
                                    <th scope="col">납부기간</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>상반기</td>
                                        <td>1~6월분</td>
                                        <td>6월 1일</td>
                                        <td>6.16~6.30</td>
                                    </tr>
                                    <tr>
                                        <td>하반기</td>
                                        <td>7~12월분</td>
                                        <td>12월 1일</td>
                                        <td>12.16~12.31</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-08">
                <dt>
                    <span class="tit">연납 신고기간 및 할인율</span>
                </dt>
                <dd>
                    <div class="table-wrap">
                        <table>
                            <caption>테이블</caption>
                            <colgroup>
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">납부기간</th>
                                    <th scope="col">할인적용</th>
                                    <th scope="col">연납 할인율</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>1.16~1.31</td>
                                        <td>2~12월</td>
                                        <td>약 9.15%</td>
                                    </tr>
                                    <tr>
                                        <td>3.16~3.31</td>
                                        <td>4~12월</td>
                                        <td>약 7.5%</td>
                                    </tr>
                                    <tr>
                                        <td>6.16~6.30</td>
                                        <td>7~12월</td>
                                        <td>약 5%</td>
                                    </tr>
                                    <tr>
                                        <td>9.16~9.30</td>
                                        <td>10~12월</td>
                                        <td>약 2.5%</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-09">
                <dt>
                    <span class="tit">장애인 감면 (비영업용 승용자동차)</span>
                </dt>
                <dd>
                    <ul class="terms-wrap">
                        <li>
                            <div class="terms-header"><span class="terms-tit">대상</span></div>
                            <div class="terms-contents">
                                <p class="terms-txt">
                                    장애등급 1~3급(시각장애인의 경우 4급)의 장애인이 보철용 또는 생업활동용으로 사용하기 위하여 취득하는 차량으로서 아래에 해당되는 차량 중 최초로 감면 신청하는 1대에 한하여 면제
                                </p>
                                <ul class="bullet-list sm">
                                    <li>배기량 2,000cc이하의 승용자동차</li>
                                    <li>승차정원 7인승이상 10인승이하인 승용자동차</li>
                                    <li>승차정원 15인승 이하의 승합자동차</li>
                                    <li>적재적량 1톤이하 화물자동차, 이륜자동차</li>
                                </ul>
                                <p class="info-txt">
                                    <i class="icon16 icon-info"></i>
                                    한 세대에 1~3급인 장애인이 2인 이상이면서 각각 자동차를 취득, 소유하고 있을 경우 장애인마다 차량 1대씩 지방세를 면제받을 수 있음.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="terms-header"><span class="terms-tit">명의</span></div>
                            <div class="terms-contents">
                                <p class="terms-txt">
                                    장애인 본인 명의로 등록하거나 장애인이 배우자 또는 세대별 주민등록표상에 기재된 장애인의 직계 존비속, 직계 비속의 배우자, 형제, 자매의 명의로 공동등록 하여야함.
                                </p>
                                <p class="info-txt">
                                    <i class="icon16 icon-info"></i>
                                    한 세대에 1~3급인 장애인이 2인 이상이면서 각각 자동차를 취득, 소유하고 있을 경우 장애인마다 차량 1대씩 지방세를 면제받을 수 있음.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="terms-header"><span class="terms-tit">신청</span></div>
                            <div class="terms-contents">
                                <p class="terms-txt">
                                    시군구청에 비치되어 있는 소정의 신청서식에 장애인등록증 또는 장애인증명서, 자동차등록서류(자동차등록증 사본 등), 주민등록표 등본을 첨부하여 신청
                                </p>
                                <p class="info-txt">
                                    <i class="icon16 icon-info"></i>
                                    주소지가 변경되는 경우에는 주민등록 이전 후 이전 주소지 관할 구청에 지방세 감면신청을 다시 하여야 지방세를 면제받을 수 있음.
                                </p>
                                <ul class="bullet-list sm">
                                    <li> <!-- 2021-07-02 퍼블수정 : 오타 수정 -->
                                        1999.12.31 이전에는 1~3급(시각장애인은 4급)의 장애인이 본인 명의로 등록하거나 그 배우자 또는 세대별 주민등록표에 기재된 장애인의 직계존비속 단독명의로 등록하는 경우에 한하여 지방세를 면제하였으나, 2000.01.01 이후부터는 지방자치단체별로 관련 감면 조례를 개정하여 장애인의 배우자, 직계존비속, 형제자매의 명의로 등록하는 경우에는 반드시 장애인과 공동명의로 등록하는 경우에 한하여 지방세를 면제하고 이 경우 1999.12.31 이전에 장애인 외의 자(배우자, 직계존비속) 단독명의로 등록하여 소유하고 있는 경우에는 계속 자동차세가 면제됨.
                                    </li>
                                    <li>
                                        직계존·비속 - 장애인의 부모, 조부모, 자녀, 손자녀 및 장애인의 외조부모, 외손자녀등이 포함 / 양자·양녀로 입적된 경우에는 양부모와 친생부모 포함 / 계부, 계모는 인척으로 직계존속이 아님.
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>

        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>