<div class="modal-wrap CMYMGA013" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>사고 이력 조회 (12가1234)</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">

            <div class="inquiry-wrap">
                <strong>기아 스포티지 4세대 디젤 1.7 2WD 트렌디</strong>
                <span>정보 조회일 2021.04.12</span>
            </div>

            <dl class="part-list part-01">
                <dt>
                    <span class="tit">중고차 사고 이력 조회</span>
                </dt>
                <dd>
                    <div class="accident-history-list">
                        <ul>
                            <li>
                                <div class="box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsLoss.svg" alt="전손 보험사고"></div>
                                    <p class="data-txt">전손 보험사고</p>
                                    <p class="data-num">없음</p>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsTheft.svg" alt="도난 보험사고"></div>
                                    <p class="data-txt">도난 보험사고</p>
                                    <p class="data-num">없음</p>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsFlooding.svg" alt="침수 보험사고"></div>
                                    <p class="data-txt">침수 보험사고</p>
                                    <p class="data-num">없음</p>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsSpecialUse.svg" alt="특수 용도 이력"></div>
                                    <p class="data-txt">특수 용도 이력</p>
                                    <p class="data-num">없음</p>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-accidents-damage-my.svg" alt="내 차 피해 2회"></div>
                                    <p class="data-txt">내 차 피해 2회</p>
                                    <p class="data-num">5,076,150원</p>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-accidents-damage-other.svg" alt="상대 차 피해 1회"></div>
                                    <p class="data-txt">상대 차 피해 1회</p>
                                    <p class="data-num">1,617,192원</p>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsChangeOwner.svg" alt="소유자 변경"></div>
                                    <p class="data-txt">소유자 변경</p>
                                    <p class="data-num">없음</p>
                                </div>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsChangeVehicleNumber.svg" alt="차량번호 변경"></div>
                                    <p class="data-txt">차량번호 변경</p>
                                    <p class="data-num">없음</p>
                                </div>
                            </li>
                        </ul>
                        <p class="info-txt">
                            <i class="icon16 icon-info"></i>
                            자동차 보험 사고기록이 없다고 해서 반드시 무사고라고 할 수는 없습니다.
                        </p>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-02">
                <dt>
                    <span class="tit">자동차 일반사항 정보</span>
                </dt>
                <dd>
                    <p class="txt-gray">
                        자동차의 일반적인 사양 정보를 제공합니다.
                    </p>

                    <div class="table-wrap">
                        <table>
                            <caption>자동차 일반사항 정보</caption>
                            <colgroup>
                                <col style="width:30%">
                                <col style="width:70%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">제조사</th>
                                    <td>삼성</td>
                                </tr>
                                <tr>
                                    <th scope="row">자동차명</th>
                                    <td>SM5</td>
                                </tr>
                                <tr>
                                    <th scope="row">배기량</th>
                                    <td>1,995cc</td>
                                </tr>
                                <tr>
                                    <th scope="row">사용연료</th>
                                    <td>디젤</td>
                                </tr>
                                <tr>
                                    <th scope="row">연식</th>
                                    <td>2005</td>
                                </tr>
                                <tr>
                                    <th scope="row">차체형상</th>
                                    <td>세단 4도어</td>
                                </tr>
                                <tr>
                                    <th scope="row">용도 및 차종</th>
                                    <td>자가용 승용</td>
                                </tr>
                                <tr>
                                    <th scope="row">최종 보험 <br> 가입일자</th>
                                    <td>2018.05.25</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </dd>
            </dl>

            <dl class="part-list part-03">
                <dt>
                    <span class="tit">자동차 특수용도 이력 정보</span>
                </dt>
                <dd>
                    <p class="txt-gray">
                        과거 자동차번호 변경기록을 모두 검색하여 제공하는 것으로 <span class="option-color-red-100">대여용(렌터카), 영업용(택시 등)으로 사용된 적이 있는지</span> 확인할 수 있습니다.
                    </p>

                    <ul class="view-list">
                        <li>
                            <div class="box-wrap">
                                <div class="left-box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-UseRental.svg" alt="대여용도 사용이력(렌터카)"></div>
                                    <span class="tit">대여용도 사용이력(렌터카)</span>
                                </div>
                                <div class="right-box">
                                    <span class="txt">없음</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-wrap">
                                <div class="left-box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-UseBusiness.svg" alt="영업용도 사용이력"></div>
                                    <span class="tit">영업용도 사용이력</span>
                                </div>
                                <div class="right-box">
                                    <span class="txt">없음</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-wrap">
                                <div class="left-box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-UsePublic.svg" alt="관용용도 사용이력"></div>
                                    <span class="tit">관용용도 사용이력</span>
                                </div>
                                <div class="right-box">
                                    <span class="txt">없음</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </dd>
            </dl>

            <dl class="part-list part-04">
                <dt>
                    <span class="tit">자동차 번호/소유자 변경이력 정보</span>
                </dt>
                <dd>
                    <p class="txt-gray">
                        소유자 변경이력 정보는 <span class="option-color-red-100">개인 간의 소유 변경 이외에도 매매상사간 변경(상품용)까지 모두 포함된 횟수</span>로 제공됩니다. 참고해주시기 바랍니다.
                    </p>

                    <div class="table-wrap">
                        <table>
                            <caption>자동차 번호/소유자 변경이력 정보</caption>
                            <colgroup>
                                <col style="width:25%">
                                <col style="width:25%">
                                <col style="width:25%">
                                <col style="width:25%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">변경등록일</th>
                                    <th scope="col">소유자변경</th>
                                    <th scope="col">차량번호</th>
                                    <th scope="col">차량용도</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-05">
                <dt>
                    <span class="tit">자동차보험 특수사고 이력 정보</span>
                </dt>
                <dd>
                    <p class="txt-gray">
                        자동차보험에서 보험금이 지급된 자동차사고기록 중 자동차품질에 특별히 영향을 미칠 가능성이 있는 사고<span class="option-color-red-100">(전손, 도난, 침수사고)</span>를 확인할 수 있습니다.
                    </p>

                    <ul class="view-list">
                        <li>
                            <div class="box-wrap">
                                <div class="left-box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsLoss.svg" alt="전손보험사고"></div>
                                    <span class="tit">전손보험사고</span>
                                </div>
                                <div class="right-box">
                                    <span class="txt">없음</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-wrap">
                                <div class="left-box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsTheft.svg" alt="도난보험사고"></div> <!--2021-07-02 퍼블수정 : 이미지 변경-->
                                    <span class="tit">도난보험사고</span>
                                </div>
                                <div class="right-box">
                                    <span class="txt">없음</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-wrap">
                                <div class="left-box">
                                    <div class="img-wrap"><img src="/images/mycar/icon32-AccidentsFlooding.svg" alt="침수보험사고"></div> <!--2021-07-02 퍼블수정 : 이미지 변경-->
                                    <span class="tit">침수보험사고</span>
                                </div>
                                <div class="right-box">
                                    <span class="txt">없음</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="table-wrap">
                        <table>
                            <caption>자동차 일반사항 정보</caption>
                            <colgroup>
                                <col style="width:35%">
                                <col style="width:65%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">전손보험사고</th>
                                    <td>
                                        손상된 자동차의 수리비용이 자동차가치(보험횜사에서 적정하다고 인정한)를 초과한 경우….(생략)…보상처리 받은 사고
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">도난보험사고</th>
                                    <td>
                                        자동차를 도난 당하여 경찰서에 신고한지 30일이 지나도록 도난 당한..(생략)…보상처리 받은 사고
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">침수보험사고</th>
                                    <td>
                                        자동차를 운행하던 중 자동차 내부로 물이 들어와 시동이 꺼지거나...(생략)…손해가 발생한 경우
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </dd>
            </dl>

            <dl class="part-list part-06">
                <dt>
                    <span class="tit">보험사고이력 상세정보</span>
                </dt>
                <dd>
                    <p class="txt-gray">
                        12가1234 차량이 <span class="option-color-red-100">자기차량손해담보에 가입하지 않은 동안에는</span> 내 보험으로 처리한 사고이력정보의 <span class="option-color-red-100">제공이 불가능</span>합니다.
                    </p>

                    <div class="round-pale-box"> <!-- 조건값에 따라 노출/비노출 -->
                        <span>
                            미가입기간
                            <em>2017년 08월 ~ 2021년 04월</em>
                        </span>
                    </div>

                    <ul class="bullet-list">
                        <li>보험금 및 수리(견적)비 출처에 따라서 ‘가입한 보험사에서 지급된경우(내차보험)’와 ‘다른 차량 보험에서 지급된 경우(상대보험)’로 나뉘어 제공됩니다.</li>
                        <li>자동차사고로 상대 차량 또는 재물에 발생한 손해를 내 보험금에서 지급된 경우의 정보를 제공합니다.</li>
                        <li>쌍방과실로 해당 자동차의 손상, 수리 기록이 내차 보험과 상대 보험에서 동시에 처리된 경우에는 ‘내차보험’에만 표시되고 ‘상대차보험＇에서는 생략됩니다.</li>
                    </ul>

                    <div class="accident-card-list">
                        <ul>
                            <li>
                                <p class="date">2021년 02월 21일</p>
                                <strong class="tit">내 차 사고(피해)</strong>
                                
                                <div class="accident-card">
                                    <div class="accident-card-contents">
                                        <div class="round-txt-wrap"><span>내 차 보험(처리)</span></div>

                                        <div class="price-wrap">
                                            <p class="price-txt">수리(견적)비용</p>
                                            <p class="price">100,000원</p>

                                            <div class="data-list">
                                                <ul>
                                                    <li>
                                                        <span class="tit">부품</span>
                                                        <span class="txt">50,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="tit">공임</span>
                                                        <span class="txt">25,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="tit">도장</span>
                                                        <span class="txt">25,000원</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accident-card-contents">
                                        <div class="round-txt-wrap"><span>상대 차 보험(처리)</span></div>

                                        <p class="no-price">견적 비용이 발생하지 않았습니다.</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <p class="date">2020년 10월 21일</p>
                                <strong class="tit">내 차 사고(피해)</strong>
                                
                                <div class="accident-card">
                                    <div class="accident-card-contents">
                                        <div class="round-txt-wrap"><span>내 차 보험(처리)</span></div>

                                        <p class="no-price">견적 비용이 발생하지 않았습니다.</p>
                                    </div>

                                    <div class="accident-card-contents">
                                        <div class="round-txt-wrap"><span>상대 차 보험(처리)</span></div>

                                        <div class="price-wrap">
                                            <p class="price-txt">수리(견적)비용</p>
                                            <p class="price">100,000원</p>

                                            <div class="data-list">
                                                <ul>
                                                    <li>
                                                        <span class="tit">부품</span>
                                                        <span class="txt">50,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="tit">공임</span>
                                                        <span class="txt">25,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="tit">도장</span>
                                                        <span class="txt">25,000원</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p class="info-txt"><i class="icon16 icon-info"></i>보험사고 이력은 최근 10건의 사고이력의 정보만 표시됩니다.</p>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-07">
                <dt>
                    <span class="tit">주행거리정보</span>
                </dt>
                <dd>
                    <p class="txt-gray">
                        카히스토리 주행거리 이력 정보 서비스는 자동차보험 가입자 또는 중고차 판매자가 보험회사 또는 중고차쇼핑몰에 직접 제출한 주행거리 자료를 제공 받음
                    </p>

                    <div class="bg-gray-wrap">
                        <h6>최근 주행거리 정보</h6>
                        <ul>
                            <li>
                                <span class="tit">주행거리</span>
                                <span class="txt">26,102km</span>
                            </li>
                            <li>
                                <span class="tit">기록일자</span>
                                <span class="txt">2020.07.22</span>
                            </li>
                        </ul>
                    </div>

                    <div class="table-wrap">
                        <table>
                            <caption>주행거리정보</caption>
                            <colgroup>
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                                <col style="width:33.33%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">이력정보</th>
                                    <th scope="col">주행거리</th>
                                    <th scope="col">제공처</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>2020.07.22</td>
                                        <td>26,102km</td>
                                        <td>자동차보험회사</td>
                                    </tr>
                                    <tr>
                                        <td>2019.03.13</td>
                                        <td>50,911km</td>
                                        <td>자동차보험회사</td>
                                    </tr>
                                    <tr>
                                        <td>2018.10.27</td>
                                        <td>46,580km</td>
                                        <td>자동차보험회사</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <dl class="part-list part-08">
                <dt>
                    <span class="tit">부가이용정보</span>
                </dt>
                <dd>
                    <p class="txt-gray">
                        중고차 사고이력정보 서비스는 자동차 보험을 취급하는 11개 손해보험사의 자동차 보험 수리 지급기록에 근거하여 제공하고 있습니다.
                    </p>
                </dd>
            </dl>

        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>닫기</span></button>
            </div>
        </div>
    </div>
</div>