<div class="modal-wrap CMYMGA002" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>차량 변경</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="choice-car-wrap">
                <ul>
                    <li>
                        <div class="form-box">
                            <label class="form-radio type-check"  for="radio-check1">
                                <input type="radio" name="radio-check" id="radio-check1" checked="">
                                <i class="icon"></i>
                                <div class="car-info-box">
                                    <div class="img-wrap"><img src="/images/car/img96KiaCar.png" alt="기아 스포티지 4세대"></div>
                                    <div class="car-txt-wrap">
                                        <div class="round-txt-wrap lh24">
                                            <span>12가5678</span>
                                        </div>
                                        <p class="car-tit">기아 스포티지 4세대</p>
                                        <p class="car-txt">디젤 1.7 2WD 트렌디</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-box">
                            <label class="form-radio type-check"  for="radio-check2">
                                <input type="radio" name="radio-check" id="radio-check2" checked="">
                                <i class="icon"></i>
                                <div class="car-info-box">
                                    <div class="img-wrap"><img src="/images/car/img96BenzCar.png" alt="벤츠 E-클래스"></div>
                                    <div class="car-txt-wrap">
                                        <div class="round-txt-wrap lh24">
                                            <span>12가5678</span>
                                        </div>
                                        <p class="car-tit">벤츠 E-클래스</p>
                                        <p class="car-txt">W213 E220D 익스클루시브</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-wrap">
                <button class="btn-border-gray"><i class="icon16 icon-plus-black"></i><span>내 차고 차량 추가</span></button>
            </div>
        </div>
    </div>
</div>