<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />

	<title>내차고 &gt; 내 차 수정 &gt; 모델정보</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css" />
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css" />
	<link type="text/css" rel="stylesheet" href="../../css/app.css" />

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>
	<script>
		$(document).ready(function(){
			UIComponent.Html.reset();
		});
	</script>
</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <h2>모델정보</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content mycar">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMGA004">
					<div class="inp-list-wrap">
                        <ul>
                            <li class="type-flex">
                                <div class="select-box type-select">
                                    <label for="" class="inp-tit">제조사</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">르노삼성</option>
                                    </select>
                                </div>
								<div class="select-box type-select">
                                    <label for="" class="inp-tit">대표차 </label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">SM5</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-box type-select">
                                    <label for="" class="inp-tit">차명</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">뉴SM5(2005~2007)</option>
                                    </select>
                                </div>
                            </li>
							<li>
                                <div class="select-box type-select">
                                    <label for="" class="inp-tit">모델</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">LE</option>
                                    </select>
                                </div>
                            </li>
							<li>
                                <div class="select-box type-select">
                                    <label for="" class="inp-tit">등급</label>
                                    <select name="" id="">
                                        <option value=""></option>
                                        <option value="">선택</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>수정</span></button>
                    </div>
					<div class="bottom-space"></div>         
                </div>
                <!-- // section, 화면ID -->
            </div>
            <!-- // content -->
            
		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>