<div class="modal-wrap CMYMGA011" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>다이렉트 보험료 비교하기</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="link-list-img">
                <li>
                    <a href="javascript:;">
                        <div class="img-wrap"><img src="/images/sample/icon40-InsuranceCarrot.png" alt="Carrot"></div>
                        <p class="tit">다이렉트보험 통합 비교견적</span>
                        <p class="txt">자동차보험 최저가를 찾아라!</p>
                        <i class="icon-link icon24 icon-arrow-right-gray"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="img-wrap"><img src="/images/sample/sample-kbinsurance.png" alt="kb손해보험"></div>
                        <p class="tit">KB손해보험 다이렉트</span>
                        <p class="txt">가입 시 최대 3만원 카드 결제 혜택</p>
                        <i class="icon-link icon24 icon-arrow-right-gray"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div class="img-wrap"><img src="/images/sample/icon40-InsuranceSamsung.png" alt="삼성화재"></div>
                        <p class="tit">삼성화재 다이렉트</span>
                        <p class="txt">보험가입권유전화없음</p>
                        <i class="icon-link icon24 icon-arrow-right-gray"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>닫기</span></button>
            </div>
        </div>
    </div>
</div>