<div class="modal-wrap CMYMGA202" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>전륜(좌) 타이어 등록</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="inp-list-wrap">
                <ul>
                    <li>
                        <div class="select-box type-select default">
                            <label for="" class="inp-tit">(선택) 제조사</label>
                            <select name="" id="">
                                <option value=""></option>
                                <option value="">금호타이어</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="select-box type-select default">
                            <label for="" class="inp-tit">(선택) 타이어 타입</label>
                            <select name="" id="">
                                <option value=""></option>
                                <option value="">사계절 일반</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <p class="body-210">(선택) 장착일자</p>
                        <div class="date-box">
                            <input type="date">
                            <i class="icon24 icon-calendar">날짜검색</i>
                        </div>
                    </li>
                    <li>
                        <div class="inp-box type-basic default">
                            <label for="" class="inp-tit">장착시 주행거리</label>
                            <input type="text">
                            <button class="icon16 icon-close">삭제</button>
                        </div>
                    </li>
                </ul>
            </div>

            <ul class="check-list">
                <li>
                    <label class="form-checkbox">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt"><strong>전륜(우) 타이어</strong>도 같은 정보 등록</span>
                    </label>
                </li>
                <li>
                    <label class="form-checkbox">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt"><strong>모든 타이어</strong>에 같은 정보 등록</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>취소</span></button>
                <button type="button" class="btn-yellow"><span>저장</span></button>
            </div>
        </div>
    </div>
</div>