<div class="modal-wrap CMYMGA204" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>위치교환 정보 등록</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="info-list">
                <li>
                    <label class="form-radio type-check" for="radio1">
                        <input type="radio" name="radio-basic" id="radio1" checked><!-- 선택되어있는 카테고리에 checked -->
                        <span class="tit">네 바퀴 모두 교환했어요.</span><!-- 2021-08-06 마크업 위치 변경 -->
                        <i class="icon"></i>
                    </label>
                </li>
                <li>
                    <label class="form-radio type-check" for="radio2">
                        <input type="radio" name="radio-basic" id="radio2">
                        <span class="tit">전륜(앞바퀴) 좌/우만 교환했어요.</span><!-- 2021-08-06 마크업 위치 변경 -->
                        <i class="icon"></i>
                    </label>
                </li>
                <li>
                    <label class="form-radio type-check" for="radio3">
                        <input type="radio" name="radio-basic" id="radio3">
                        <span class="tit">후륜(뒷바퀴) 좌/우만 교환했어요.</span><!-- 2021-08-06 마크업 위치 변경 -->
                        <i class="icon"></i>
                    </label>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>취소</span></button>
                <button type="button" class="btn-yellow"><span>저장</span></button>
            </div>
        </div>
    </div>
</div>