<div class="modal-wrap CMYMGA203" data-type="window">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">타이어 등록 전 확인</h3>
        </div>
        <div class="modal-body">
            <div class="info-box-gray">
                <div class="box">
                    <span class="img"><img src="/images/sample/sample-car-size96.png" alt="샘플이미지"></span>
                    <p class="tit">현대 그랜저</p>
                    <p class="txt">더 뉴 그랜저 2.5 캘리그래피</p>
                </div>
                <dl>
                    <dt>주행거리</dt>
                    <dd>999,999km</dd>
                </dl>
            </div>
            <p class="body-120">
                타이어 주행거리는 <strong>현재 차량의<br>주행거리</strong>를 기반해서 산출됩니다.<br>
                현재 차량의 주행거리가 맞나요?
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>아니요</span></button>
                <button type="button" class="btn-txt-blue"><span>맞습니다</span></button>
            </div>
        </div>
    </div>
</div>