<div class="modal-wrap CMYMGA014" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>자동차세 납부하기</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="link-list round">
                <li>
                    <a href="javascript:;">
                        <span class="tit">자동차세 연납하기</span>
                        <span class="txt">(서울거주자)</span>
                        <span class="img"><img src="/images/cm/logo-etax.png" alt="ETAX"></span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="tit">자동차세 연납하기</span>
                        <span class="txt">(서울 외 지역거주자)</span>
                        <span class="img"><img src="/images/cm/logo-wtax.png" alt="WTAX"></span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>