<div class="modal-wrap CMYCTE006" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>차량유지비</h3>
            <button class="modal-close">닫기</button>

            <div class="info-filter">
                <p class="total">합계</p>
                <p class="price"><strong data-module="scrollStopNumbers" data-value="870,600">870,600</strong>원</p>
            </div>
        </div>
        <div class="modal-body">
            <div class="info-content">
                <div class="info-box">
                    <div class="info-top">
                        <p class="total">제외 내역 <span>3</span></p>
                        <div class="price">
                            117,800원
                            <label class="form-switch sm">
                                <input type="checkbox">
                                <i><span></span></i>
                            </label>
                        </div>
                    </div>
                    <ul class="info-list">
                        <li class="disabled"><!-- 활성화될 경우 'disabled' 클래스 삭제 -->
                            <a href="javascript:;">
                                <span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
                                <span class="tit">GS칼텍스</span>
                                <ul class="info">
                                    <li>주유</li>
                                    <li>일시불</li>
                                </ul>
                                <span class="price">50,000원</span>
                            </a>
                        </li>
                        <li class="disabled"><!-- 활성화될 경우 'disabled' 클래스 삭제 -->
                            <a href="javascript:;">
                                <span class="icon"><img src="/images/icon/icon-maintain.svg" alt="정비/수리"></span>
                                <span class="tit">서울오토정비센터</span>
                                <ul class="info">
                                    <li>정비/수리</li>
                                    <li>일시불</li>
                                </ul>
                                <span class="price">20,000원</span>
                            </a>
                        </li>
                        <li class="disabled"><!-- 활성화될 경우 'disabled' 클래스 삭제 -->
                            <a href="javascript:;">
                                <span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
                                <span class="tit">GS칼텍스</span>
                                <ul class="info">
                                    <li>주유</li>
                                    <li>일시불</li>
                                </ul>
                                <span class="price">30,000원</span>
                            </a>
                        </li>
                        <li class="disabled"><!-- 활성화될 경우 'disabled' 클래스 삭제 -->
                            <a href="javascript:;">
                                <span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
                                <span class="tit">GS칼텍스</span>
                                <ul class="info">
                                    <li>주유</li>
                                    <li>일시불</li>
                                </ul>
                                <span class="price">50,000원</span>
                            </a>
                        </li>
                        <li class="disabled"><!-- 활성화될 경우 'disabled' 클래스 삭제 -->
                            <a href="javascript:;">
                                <span class="icon"><img src="/images/icon/icon-maintain.svg" alt="정비/수리"></span>
                                <span class="tit">서울오토정비센터</span>
                                <ul class="info">
                                    <li>정비/수리</li>
                                    <li>일시불</li>
                                </ul>
                                <span class="price">20,000원</span>
                            </a>
                        </li>
                        <li class="disabled"><!-- 활성화될 경우 'disabled' 클래스 삭제 -->
                            <a href="javascript:;">
                                <span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
                                <span class="tit">GS칼텍스</span>
                                <ul class="info">
                                    <li>주유</li>
                                    <li>일시불</li>
                                </ul>
                                <span class="price">30,000원</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>저장</span></button>
            </div>
        </div>
    </div>
</div>