<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>보험 납입내역(자동차 보험)</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>보험 납입내역</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content te">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCTE022">
					<div class="part top">
						<div class="part-tit-wrap">
							<div class="part-info">
								<span class="img"><img src="/images/sample/sample-kbinsurance.png" alt="샘플이미지"></span>
								<div class="box">
									<span class="box-tit">스마트 자동차 보험</span>
									<span class="box-txt">KB손해보험</span>
								</div>
							</div>
							<dl>
								<dt>
									<span>보험료</span>
								</dt>
								<dd>
									<span>11,439,330원</span>
								</dd>
							</dl>
						</div>
					</div>

					<div class="part info">
						<div class="info-content">
							<div class="info-box">
								<div class="info-top">
									<p class="date">2021.04.14 08:44:22</p>
								</div>
								<div class="data-list">
									<h4 class="list-tit">
										<span>1회차</span>
									</h4>
									<ul>
										<li>
											<span class="tit">납입금액</span>
											<span class="txt bold">1,089,000원</span>
										</li>
										<li>
											<span class="tit">납입방법</span>
											<span class="txt">신용카드</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // section, 화면ID -->

			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->

	
</body>
</html>