<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>보험 정보(자동차 보험)</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap bg-header-gray">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>내차 보험</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content te">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCTE016">
					<div class="part top">
						<div class="part-content">
							<div class="box-area">
								<div class="item-area">
									<span class="img"><img src="/images/sample/sample-kbinsurance.png" alt="샘플이미지"></span>
									<div class="box">
										<span class="tit">스마트 자동차 보험</span>
										<span class="txt">KB손해보험</span>
										<ul class="info">
											<li>2020.01.04 ~ 2021.01.03</li>
										</ul>
									</div>
								</div>
								<div class="bg-area">
									<i class="icon24 icon-calendar"></i>
									<span class="tit">갱신일</span>
									<span class="price">D-20</span>
								</div>
							</div>

							<div class="box-area">
								<div class="period-area">
									<div class="info">
										<span class="tit">납입현황</span>
										<div class="period">
											일시납
										</div>
									</div>
									<p class="gauge-bar">
										<span class="gauge" style="width:100%"></span>
									</p>
									<div class="data-list">
										<ul>
											<li>
												<span class="tit">자동차 보험료</span>
												<span class="txt">1,200,000원</span>
											</li>
											<li>
												<span class="tit">실납입 보험료</span>
												<span class="txt">1,200,000원</span>
											</li>
										</ul>
									</div>
									<div class="btn-wrap">
										<a href="javascript:;" class="btn-border-gray"><span>납입내역보기</span></a>
									</div>
								</div>
							</div>

							<!-- 2021-07-22 마크업 수정 -->
							<ul class="box-list">
								<li>
									<a href="javascript:;" class="box">
										<img src="/images/te/sample-banner-2.png" alt="샘플 배너"/>
									</a>
								</li>
							</ul>
							<!-- // 2021-07-22 마크업 수정 -->
						</div>
					</div>

					<div class="part data">
						<div class="part-content">
							<div class="data-list">
								<h4 class="list-tit">
									<span>기본정보</span>
								</h4>
								<ul>
									<li>
										<span class="tit">차량번호</span>
										<span class="txt">42나 1234</span>
									</li>
									<li>
										<span class="tit">자동차보험 구분</span>
										<span class="txt">자동차종합보험</span>
									</li>
									<li>
										<span class="tit">계약자 차량명</span>
										<span class="txt">i40</span>
									</li>
									<li>
										<span class="tit">보험시기</span>
										<span class="txt">2020.10</span>
									</li>
									<li>
										<span class="tit">보험종기</span>
										<span class="txt">2021.10</span>
									</li>
									<li>
										<span class="tit">납입방법</span>
										<span class="txt">일시납</span>
									</li>
									<li>
										<span class="tit">결제방법</span>
										<span class="txt">신용카드</span>
									</li>
									<li>
										<span class="tit">연령특약</span>
										<span class="txt">전연령</span>
									</li>
									<li>
										<span class="tit">운전자한정특가</span>
										<span class="txt">가족한정</span>
									</li>
									<li>
										<span class="tit">자기차량손해</span>
										<span class="txt">가입</span>
									</li>
									<li>
										<span class="tit">자기부담금 구분</span>
										<span class="txt">20%</span>
									</li>
									<li>
										<span class="tit">자기부담금 금액</span>
										<span class="txt">50만원</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

		<div class="nav-bar-wrap">

		</div>

	</div>
	<!-- // wrap -->
</body>
</html>