<div class="modal-wrap CMYCTE003" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>카테고리 선택</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="info-list">
                <li class="active"><!-- 현재 적용되어 있는 카테고리에 'active' 클래스 추가 -->
                    <button type="button">
                        <span class="tit">전체</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
                        <span class="tit">주유/충전</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-parking.svg" alt="주차"></span>
                        <span class="tit">주차</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-tollgate.svg" alt="통행료"></span>
                        <span class="tit">통행료</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-carwash.svg" alt="세차"></span>
                        <span class="tit">세차</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-chauffeur.svg" alt="대리운전"></span>
                        <span class="tit">대리운전</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-maintain.svg" alt="정비/수리"></span>
                        <span class="tit">정비/수리</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-lease.svg" alt="할부"></span>
                        <span class="tit">할부</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-insure.svg" alt="자동차 보험"></span>
                        <span class="tit">자동차 보험</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="icon"><img src="/images/icon/icon-other.svg" alt="유지비 기타"></span>
                        <span class="tit">유지비 기타</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>