<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>차계부</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2><button type="button"><span>2020년 4월 차계부</span><i class="icon16 icon-arrow-bottom-black"></i></button></h2><!-- 2021-07-06 날짜 표기방식 수정 (2021년 이전일 경우에만 년도 추가) -->
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content te">
				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCTE002">
					<div class="part top">
						<div class="part-tit-wrap">
							<dl>
								<dt>
									<!-- 2021-07-21 차량 유지비 팝업 삭제로 인한 태그 삭제 (button, i) -->
									<span>차량 유지비</span>
									<!-- // 2021-07-21 차량 유지비 팝업 삭제로 인한 마크업 수정 (button, i) -->
								</dt>
								<dd>
									<span>1,435,000원</span>
								</dd>
							</dl>
						</div>
					</div>

					<div class="part statistic">
						<h3 class="contents-title-200">
							<strong>차국민</strong>님이 가장 많이<br>
							지출한 곳을 확인해보세요!
						</h3>

						<!-- 차트영역 -->
						<div class="chart-area">
							<img src="/images/sample/sample-chart-2.png" alt="샘플 이미지"/>
						</div>
						<!-- // 차트영역 -->

						<ul class="info-list">
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-lease.svg" alt="할부"></span>
									<span class="tit">할부</span>
									<ul class="info">
										<li>20%</li>
									</ul>
									<span class="price">404,250원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-maintain.svg" alt="정비/수리"></span>
									<span class="tit">정비/수리</span>
									<ul class="info">
										<li>0%</li>
									</ul>
									<span class="price">169,050원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
									<span class="tit">주유/충전</span>
									<ul class="info">
										<li>0%</li>
									</ul>
									<span class="price">110,250원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-tollgate.svg" alt="통행료"></span>
									<span class="tit">통행료</span>
									<ul class="info">
										<li>0%</li>
									</ul>
									<span class="price">51,450원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-parking.svg" alt="주차"></span>
									<span class="tit">주차</span>
									<ul class="info">
										<li>0%</li>
									</ul>
									<span class="price">0원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-carwash.svg" alt="세차"></span>
									<span class="tit">세차</span>
									<ul class="info">
										<li>0%</li>
									</ul>
									<span class="price">0원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-chauffeur.svg" alt="대리운전"></span>
									<span class="tit">대리운전</span>
									<ul class="info">
										<li>0%</li>
									</ul>
									<span class="price">0원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-insure.svg" alt="자동차 보험"></span>
									<span class="tit">자동차 보험</span>
									<ul class="info">
										<li>0%</li>
									</ul>
									<span class="price">0원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="icon"><img src="/images/icon/icon-other.svg" alt="유지비 기타"></span>
									<span class="tit">유지비 기타</span>
									<ul class="info">
										<li>0%</li>
									</ul>
									<span class="price">0원</span>
									<i class="icon16 icon-arrow-right-black"></i>
								</a>
							</li>
						</ul>
					</div>

					<div class="part guide">
						<h3 class="contents-title-200">
							카드/출금 내역에서 직접<br>
							차량소비내역을 분류할 수 있어요!
						</h3>
						<i class="icon140 icon-maintenance-2"></i>
						<button type="button" class="btn-border"><i class="icon16 icon-plus-black"></i><span>유지비 추가하기</span></button>
					</div>

					<div class="part recommend">
						<h3 class="contents-title-200">
							이번 달 차계부를 분석해<br>
							<strong>차국민</strong>님 소비 패턴 맞춤 카드를<br>
							알아봤어요!
						</h3>
						<ul class="card-list">
							<li>
								<a href="javascript:;">
									<span class="img"><img src="/images/sample/sample-card-1.png" alt="샘플 이미지"></span>
									<span class="tit">신한카드 Mr.Life</span>
									<span class="txt">신한카드</span>
									<span class="price">연회비 <em>10,000</em>원</span><!-- 2021-07-21 마크업 추가 -->
									<i class="icon24 icon-arrow-right-gray"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="img"><img src="/images/sample/sample-card-2.png" alt="샘플 이미지"></span>
									<span class="tit">신한카드 Deep Oil</span>
									<span class="txt">신한카드</span>
									<span class="price">연회비 <em>10,000</em>원</span><!-- 2021-07-21 마크업 추가 -->
									<i class="icon24 icon-arrow-right-gray"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="img"><img src="/images/sample/sample-card-3.png" alt="샘플 이미지"></span>
									<span class="tit">신한카드 경차사랑 Life</span>
									<span class="txt">신한카드</span>
									<span class="price">연회비 <em>10,000</em>원</span><!-- 2021-07-21 마크업 추가 -->
									<i class="icon24 icon-arrow-right-gray"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="img"><img src="/images/sample/sample-card-4.png" alt="샘플 이미지"></span>
									<span class="tit">KB국민 The Easy카드</span>
									<span class="txt">국민카드</span>
									<span class="price">연회비 <em>10,000</em>원</span><!-- 2021-07-21 마크업 추가 -->
									<i class="icon24 icon-arrow-right-gray"></i>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<span class="img"><img src="/images/sample/sample-card-5.png" alt="샘플 이미지"></span>
									<span class="tit">카드카드카드카드카드카드카드카드카드카드카드카드카드</span>
									<span class="txt">카드카드카드카드카드카드카드카드카드카드카드</span>
									<span class="price">연회비 <em>999,999,999,999,999</em>원</span><!-- 2021-07-21 마크업 추가 -->
									<i class="icon24 icon-arrow-right-gray"></i>
								</a>
							</li>
						</ul>
					</div>

					<div class="part info">
						<button type="button" class="btn-txt-arrow"><span>전체</span><i class="icon16 icon-arrow-bottom-black"></i></button>

						<div class="info-filter">
							<p class="total">총 <span>32</span>건</p>
							<ul class="filter">
								<li>
									<button type="button" class="active"><!-- 활성화시 'active' 클래스 추가 -->
										<span>최신순</span>
									</button>
								</li>
								<li>
									<button type="button">
										<span>과거순</span><!-- 2021-08-02 문구 수정 -->
										<!-- <i class="icon-arrow-top"></i> --><!-- 2021-08-02 마크업 삭제 -->
									</button>
								</li>
							</ul>
						</div>
						
						<div class="info-content">
							<!-- 내역 없을경우 -->
							<div class="result-box">
								<i class="icon48 icon-nodata"></i>
								<p class="txt">
									내역이 없어요<br>
									반영이 되지 않은 <span>5</span>월 지출내역을 직접<br>
									입력하고 차량유지비 관리해보세요~
								</p>
							</div>
							<!-- // 내역 없을경우 -->

							<!-- 
								카테고리별 이미지
								할부 --- <img src="/images/icon/icon-lease.svg" alt="할부">
								정비/수리 --- <img src="/images/icon/icon-maintain.svg" alt="정비/수리">
								주유/충전 --- <img src="/images/icon/icon-gasbill.svg" alt="주유/충전">
								통행료 --- <img src="/images/icon/icon-tollgate.svg" alt="통행료">
								주차 --- <img src="/images/icon/icon-parking.svg" alt="주차">
								세차 --- <img src="/images/icon/icon-carwash.svg" alt="세차">
								대리운전 --- <img src="/images/icon/icon-chauffeur.svg" alt="대리운전">
								보험 --- <img src="/images/icon/icon-insure.svg" alt="자동차 보험">
								유지비 기타 --- <img src="/images/icon/icon-other.svg" alt="유지비 기타">
							-->
							<div class="info-box">
								<div class="info-top">
									<p class="date">04.24 (토)</p>
									<p class="price">150,000원</p>
								</div>
								<ul class="info-list">
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-lease.svg" alt="할부"></span>
											<span class="tit">디지털 중고차론</span>
											<ul class="info">
												<li>할부</li>
												<li>상환</li>
											</ul>
											<span class="price">100,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
											<span class="tit">GS칼텍스 삼방주유소</span>
											<ul class="info">
												<li>주유/충전</li>
												<li>일시불</li>
											</ul>
											<span class="txt">강릉 가는 길에 가득 주유</span>
											<span class="price">50,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-tollgate.svg" alt="통행료"></span>
											<span class="tit">GS 칼텍스 서초대로</span>
											<ul class="info">
												<li>통행료</li>
												<li>일시불</li>
												<li class="cancel">승인취소</li><!-- 승인취소시 클래스 'cancel' 추가 -->
											</ul>
											<span class="price cancel">10,000원</span><!-- 승인취소시 클래스 'cancel' 추가 -->
										</a>
									</li>
									<li class="not"><!-- 2021-07-21 지출합계에 미포함일 경우 'not' 클래스 추가 -->
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-carwash.svg" alt="세차"></span>
											<span class="tit">GS 칼텍스</span>
											<ul class="info">
												<li>세차</li>
												<li>일시불</li>
												<li>정정</li><!-- 2021-07-09 정정 케이스 추가 -->
											</ul>
											<span class="price">20,000원</span>
										</a>
									</li>
								</ul>
							</div>
	
							<div class="info-box">
								<div class="info-top">
									<p class="date">04.23 (금)</p>
									<p class="price">560,000원</p>
								</div>
								<ul class="info-list">
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-parking.svg" alt="주차"></span>
											<span class="tit">반포한강공원 주차장</span>
											<ul class="info">
												<li>주차</li>
												<li>일시불</li>
											</ul>
											<span class="price">15,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-chauffeur.svg" alt="대리운전"></span>
											<span class="tit">KB대리운전</span>
											<ul class="info">
												<li>대리운전</li>
												<li>일시불</li>
											</ul>
											<span class="price">15,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-maintain.svg" alt="정비/수리"></span>
											<span class="tit">서울오토정비센터</span>
											<ul class="info">
												<li>정비/수리</li>
												<li>현금</li>
											</ul>
											<span class="price">30,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-other.svg" alt="유지비 기타"></span>
											<span class="tit">GS 칼텍스</span>
											<ul class="info">
												<li>유지비 기타</li>
												<li>일시불</li>
											</ul>
											<span class="price">4,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-insure.svg" alt="자동차 보험"></span>
											<span class="tit">스마트 자동차 보험</span>
											<ul class="info">
												<li>자동차보험</li>
												<li>1회차</li>
											</ul>
											<span class="price">108,000원</span>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- 2021-08-02 마크업수정 -->
						<!-- 과거순으로 정렬 -->
						<div class="info-content" style="display:none">
							<div class="info-box">
								<div class="info-top">
									<p class="date">04.23 (금)</p>
								</div>
								<ul class="info-list">
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-insure.svg" alt="자동차 보험"></span>
											<span class="tit">스마트 자동차 보험</span>
											<ul class="info">
												<li>자동차보험</li>
												<li>1회차</li>
											</ul>
											<span class="price">108,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-lease.svg" alt="할부"></span>
											<span class="tit">GS 칼텍스</span>
											<ul class="info">
												<li>할부</li>
												<li>6개월할부</li>
											</ul>
											<span class="price">100,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-maintain.svg" alt="정비/수리"></span>
											<span class="tit">서울오토정비센터</span>
											<ul class="info">
												<li>정비/수리</li>
												<li>현금</li>
											</ul>
											<span class="price">30,000원</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="info-box">
								<div class="info-top">
									<p class="date">04.24 (토)</p>
								</div>
								<ul class="info-list">
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
											<span class="tit">GS칼텍스</span>
											<ul class="info">
												<li>주유/충전</li>
												<li>일시불</li>
											</ul>
											<span class="price">30,000원</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="info-box">
								<div class="info-top">
									<p class="date">04.25 (일)</p>
								</div>
								<ul class="info-list">
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-carwash.svg" alt="세차"></span>
											<span class="tit">GS 칼텍스</span>
											<ul class="info">
												<li>세차</li>
												<li>일시불</li>
											</ul>
											<span class="price">20,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-parking.svg" alt="주차"></span>
											<span class="tit">GS 칼텍스</span>
											<ul class="info">
												<li>주차</li>
												<li>일시불</li>
											</ul>
											<span class="price">15,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-chauffeur.svg" alt="대리운전"></span>
											<span class="tit">GS 칼텍스</span>
											<ul class="info">
												<li>대리운전</li>
												<li>국민get100 (0123)</li>
											</ul>
											<span class="price">15,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-tollgate.svg" alt="통행료"></span>
											<span class="tit">GS 칼텍스 서초대로</span>
											<ul class="info">
												<li>통행료</li>
												<li>일시불</li>
												<li class="cancel">승인취소</li>
											</ul>
											<span class="price cancel">10,000원</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="info-box">
								<div class="info-top">
									<p class="date">04.26 (월)</p>
								</div>
								<ul class="info-list">
									<li>
										<a href="javascript:;">
											<span class="icon"><img src="/images/icon/icon-other.svg" alt="유지비 기타"></span>
											<span class="tit">GS 칼텍스</span>
											<ul class="info">
												<li>유지비 기타</li>
												<li>일시불</li>
											</ul>
											<span class="price">4,000원</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- // 과거순으로 정렬 -->
						<!-- // 2021-08-02 마크업수정 -->

						<button type="button" class="btn-floating"><i class="icon24 icon-plus-black"></i><span class="hiding">내역추가</span></button>
					</div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>