<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>입출금 통장 출금 내역</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>입출금 통장 출금 내역</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content te">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCTE021">
					<div class="part info">
						<div class="info-filter">
							<button type="button" class="btn-txt-arrow">
								<span>2021년 5월</span>
								<i class="icon16 icon-arrow-bottom-black"></i>
							</button>
							<!-- 2021-07-21 마크업 삭제 -->
							<!-- <button type="button" class="reload-data">
								<span>10%</span>
								<icon class="icon24 icon-refresh-round"></icon>
							</button> -->
							<!-- // 2021-07-21 마크업 삭제 -->
						</div>
						
						<div class="info-content type-dot">
							<!-- 2021-07-27 내역 없을경우 추가 -->
							<div class="result-box">
								<i class="icon48 icon-nodata"></i>
								<p class="txt">
									출금 내역이 없습니다.
								</p>
							</div>
							<!-- // 2021-07-27 내역 없을경우 추가 -->

							<div class="info-box">
								<div class="info-top">
									<p class="date">05.24 (토)</p>
								</div>
								<ul class="info-list">
									<li>
										<a href="javascript:;">
											<span class="tit">KB마이핏통장</span>
											<ul class="info">
												<li>22:19</li>
											</ul>
											<span class="price">2,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="tit">KB마이핏통장</span>
											<ul class="info">
												<li>22:19</li>
											</ul>
											<span class="price">30,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="tit">우리주거래통장</span>
											<ul class="info">
												<li>22:19</li>
											</ul>
											<span class="price">7,500원</span>
										</a>
									</li>
								</ul>
							</div>

							<div class="info-box">
								<div class="info-top">
									<p class="date">05.23 (금)</p>
								</div>
								<ul class="info-list">
									<li>
										<a href="javascript:;">
											<span class="tit">KB마이핏통장</span>
											<ul class="info">
												<li>21:00</li>
											</ul>
											<span class="price">5,000원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="tit">KB마이핏통장</span>
											<ul class="info">
												<li>21:00</li>
											</ul>
											<span class="price">109,200원</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="tit">KB마이핏통장</span>
											<ul class="info">
												<li>21:00</li>
											</ul>
											<span class="price">100,000원</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- // section, 화면ID -->

			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>