<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>보험 정보(운전자 보험)</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap bg-header-gray">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>내차 보험</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content te">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCTE018">
					<div class="part top">
						<div class="part-content">
							<div class="box-area">
								<div class="item-area">
									<span class="img"><img src="/images/sample/sample-dbinsurance.png" alt="샘플이미지"></span>
									<div class="box">
										<span class="tit">DB운전자 보험</span>
										<span class="txt">DB손해보험</span>
										<ul class="info">
											<li>2020.01.04 ~ 2021.01.03</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="box-area">
								<div class="period-area">
									<div class="info">
										<span class="tit">납입현황</span>
										<div class="period">
											<em>9</em>회차
										</div>
									</div>
									<p class="gauge-bar">
										<span class="gauge" style="width:100%"></span>
									</p>
									<div class="data-list">
										<ul>
											<li>
												<span class="tit">납입금액</span>
												<span class="txt">108,000원</span>
											</li>
											<li>
												<span class="tit">보험가입 금액</span>
												<span class="txt">2,376,000원</span>
											</li>
											<li>
												<span class="tit">실납입 보험료</span>
												<span class="txt">1,089,000원</span>
											</li>
										</ul>
									</div>
									<div class="btn-wrap">
										<a href="javascript:;" class="btn-border-gray"><span>납입내역보기</span></a>
									</div>
								</div>
							</div>
							<!-- 2021-07-22 마크업 수정 -->
							<ul class="box-list">
								<li>
									<a href="javascript:;" class="box">
										<img src="/images/te/sample-banner-4.png" alt="샘플 배너"/>
									</a>
								</li>
								<li>
									<a href="javascript:;" class="box">
										<img src="/images/te/sample-banner-5.png" alt="샘플 배너"/>
									</a>
								</li>
							</ul>
							<!-- // 2021-07-22 마크업 수정 -->
						</div>
					</div>

					<div class="part data">
						<div class="part-content">
							<div class="data-list">
								<h4 class="list-tit">
									<span>기본정보</span>
								</h4>
								<ul>
									<li>
										<span class="tit">갱신여부</span>
										<span class="txt">비갱신형</span>
									</li>
									<li>
										<span class="tit">계약체결일</span>
										<span class="txt">2021.05.06</span>
									</li>
									<li>
										<span class="tit">만기일자</span>
										<span class="txt">2041.05.06(20년)</span>
									</li>
									<li>
										<span class="tit">보험가입금액</span>
										<span class="txt">2,376,000원</span>
									</li>
									<li>
										<span class="tit">유니버셜 여부</span>
										<span class="txt">해당</span>
									</li>
									<li>
										<span class="tit">대출실행 가능 상품여부</span>
										<span class="txt">실행가능</span>
									</li>
									<li>
										<span class="tit">납입방법</span>
										<span class="txt">연납</span>
									</li>
									<li>
										<span class="tit">결제방법</span>
										<span class="txt">자동이체</span>
									</li>
									<li>
										<span class="tit">납입기관</span>
										<span class="txt">KB국민은행</span>
									</li>
									<li>
										<span class="tit">납입일자</span>
										<span class="txt">매월 21일</span>
									</li>
									<li>
										<span class="tit">납입종료일자</span>
										<span class="txt">2024.04.21</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

		<div class="nav-bar-wrap">

		</div>

	</div>
	<!-- // wrap -->
</body>
</html>