<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>금융 정보</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap bg-header-gray">

		<!-- content-header -->
		<div class="content-header">
			<button type="button" class="btn-history-back">뒤로</button>
			<h2>내차 금융</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content te">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYCTE014">
					<div class="part top">
						<div class="part-content">
							<div class="box-area">
								<div class="item-area">
									<span class="img"><img src="/images/sample/sample-hdcapital.png" alt="샘플이미지"/></span>
									<div class="box">
										<span class="tit">디지털 중고차론</span>
										<span class="txt">현대캐피탈</span>
										<ul class="info">
											<li>2020.01.04 ~ 2021.01.03</li>
										</ul>
									</div>
								</div>
								<div class="bg-area">
									<i class="icon24 icon-assets-on"></i>
									<span class="tit">대출잔액</span>
									<span class="price"><strong>11,439,330</strong>원</span>
								</div>
							</div>

							<div class="box-area">
								<div class="period-area">
									<div class="info">
										<span class="tit">대출기간</span><!-- 2021-07-21 문구수정 '남은 대출기간' -> '대출기간' -->
										<div class="period">
											<span>15</span>/36개월
										</div>
									</div>
									<p class="gauge-bar">
										<span class="gauge" style="width:40%"></span>
									</p>
									<!-- 2021-07-21 마크업 삭제 -->
									<!-- <div class="data-list">
										<ul>
											<li>
												<span class="tit">실행일</span>
												<span class="txt">2020.01.04</span>
											</li>
											<li>
												<span class="tit">만기일</span>
												<span class="txt">2023.01.03</span>
											</li>
										</ul>
									</div> -->
									<!-- // 2021-07-21 마크업 삭제 -->
									<div class="btn-wrap">
										<a href="javascript:;" class="btn-border-gray"><span>거래내역보기</span></a>
									</div>
								</div>
							</div>

							<!-- 2021-07-22 마크업 수정 -->
							<ul class="box-list">
								<li>
									<div class="box">
										<i class="icon56 icon-convertloan"></i>
										<span class="txt">대출 전환하면 매월 최대 <strong>129,067</strong>원 절약!</span>
										<a href="javascript:;" class="btn-round">상담하기</a>
									</div>
								</li>
								<li>
									<a href="javascript:;" class="box">
										<img src="/images/te/sample-banner-1.png" alt="샘플 배너"/>
									</a>
								</li>
							</ul>
							<!-- // 2021-07-22 마크업 수정 -->
						</div>
					</div>

					<div class="part data">
						<div class="part-content">
							<div class="data-list">
								<h4 class="list-tit">
									<span>기본정보</span>
								</h4>
								<ul>
									<li>
										<span class="tit">상품명</span>
										<span class="txt">디지털 중고차론</span>
									</li>
									<li>
										<span class="tit">대출일</span>
										<span class="txt">2020.10</span>
									</li>
									<li>
										<span class="tit">만기일</span>
										<span class="txt">2023.10</span>
									</li>
									<li>
										<span class="tit">최종적용금리</span>
										<span class="txt">2.95%</span>
									</li>
									<li>
										<span class="tit">월상환일</span>
										<span class="txt">매월 1일</span>
									</li>
									<li>
										<span class="tit">상환방식</span>
										<span class="txt">원리금균등상환</span>
									</li>
									<li>
										<span class="tit">자동이체 기관</span>
										<span class="txt">-</span>
									</li>
									<li>
										<span class="tit">상환계좌번호</span>
										<span class="txt">924502-01-123406</span>
									</li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

		<div class="nav-bar-wrap">

		</div>

	</div>
	<!-- // wrap -->
</body>
</html>