<div class="modal-wrap CMYCTE013" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>추가할 카테고리를 선택하세요.</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="info-content">
                <ul class="info-list">
                    <li>
                        <span class="icon"><img src="/images/icon/icon-gasbill.svg" alt="주유/충전"></span>
                        <span class="tit">주유/충전</span>
                        <label class="form-radio type-check" for="radio1">
                            <input type="radio" name="radio-basic" id="radio1" checked><!-- 선택되어있는 카테고리에 checked -->
                            <i class="icon"></i>
                        </label>
                    </li>
                    <li>
                        <span class="icon"><img src="/images/icon/icon-parking.svg" alt="주차"></span>
                        <span class="tit">주차</span>
                        <label class="form-radio type-check" for="radio2">
                            <input type="radio" name="radio-basic" id="radio2">
                            <i class="icon"></i>
                        </label>
                    </li>
                    <li>
                        <span class="icon"><img src="/images/icon/icon-tollgate.svg" alt="통행료"></span>
                        <span class="tit">통행료</span>
                        <label class="form-radio type-check" for="radio3">
                            <input type="radio" name="radio-basic" id="radio3">
                            <i class="icon"></i>
                        </label>
                    </li>
                    <li>
                        <span class="icon"><img src="/images/icon/icon-carwash.svg" alt="세차"></span>
                        <span class="tit">세차</span>
                        <label class="form-radio type-check" for="radio4">
                            <input type="radio" name="radio-basic" id="radio4">
                            <i class="icon"></i>
                        </label>
                    </li>
                    <li>
                        <span class="icon"><img src="/images/icon/icon-chauffeur.svg" alt="대리운전"></span>
                        <span class="tit">대리운전</span>
                        <label class="form-radio type-check" for="radio5">
                            <input type="radio" name="radio-basic" id="radio5">
                            <i class="icon"></i>
                        </label>
                    </li>
                    <li>
                        <span class="icon"><img src="/images/icon/icon-maintain.svg" alt="정비/수리"></span>
                        <span class="tit">정비/수리</span>
                        <label class="form-radio type-check" for="radio6">
                            <input type="radio" name="radio-basic" id="radio6">
                            <i class="icon"></i>
                        </label>
                    </li>
                    <li>
                        <span class="icon"><img src="/images/icon/icon-lease.svg" alt="할부"></span>
                        <span class="tit">할부</span>
                        <label class="form-radio type-check" for="radio7">
                            <input type="radio" name="radio-basic" id="radio7">
                            <i class="icon"></i>
                        </label>
                    </li>
                    <li>
                        <span class="icon"><img src="/images/icon/icon-insure.svg" alt="자동차 보험"></span>
                        <span class="tit">자동차 보험</span>
                        <label class="form-radio type-check" for="radio8">
                            <input type="radio" name="radio-basic" id="radio8">
                            <i class="icon"></i>
                        </label>
                    </li>
                    <li>
                        <span class="icon"><img src="/images/icon/icon-other.svg" alt="유지비 기타"></span>
                        <span class="tit">유지비 기타</span>
                        <label class="form-radio type-check" for="radio9">
                            <input type="radio" name="radio-basic" id="radio9">
                            <i class="icon"></i>
                        </label>
                    </li>
                </ul>

                <!-- 2021-07-21 마크업 수정 -->
                <div class="tac">
                    <label class="form-checkbox sm">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt">동일한 거래처 내역을 모두 추가합니다.</span>
                    </label>
                    <span class="tag-round bg-gray">지출 수단과 상관없이 모든 지출 내역에 적용돼요.</span>
                </div>
                <!-- // 2021-07-21 마크업 수정 -->
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow"><span>추가하기</span></button>
            </div>
        </div>
    </div>
</div>