<div class="modal-wrap CMYCTE027" data-type="window">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">자산 연결</h3>
        </div>
        <div class="modal-body">
            <p class="modal-txt">
                입출금 계좌 자산을 먼저 연결한 후에<br>
                입출금통장 출금 내역을 가져올 수 있습니다.<br>
                은행 자산을 연결할까요?
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>다음에 하기</span></button>
                <button type="button" class="btn-txt-blue"><span>자산 연결하기</span></button>
            </div>
        </div>
    </div>
</div>