<div class="modal-wrap CMYCTE010" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>조회되지 않는 내역이 있나요?</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="link-list">
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-cardlist"></i>
                        <span class="tit">카드 소비 내역에서 가져오기</span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-accountadd"></i>
                        <span class="tit">입출금통장 출금내역에서 가져오기 </span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon24 icon-cardwrite"></i>
                        <span class="tit">직접 내역 추가하기</span>
                        <i class="icon16 icon-arrow-right-black"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>