<div class="modal-wrap CMYCTE004" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>월 선택</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <ul class="info-list">
                <li class="active"><!-- 현재 적용되어 있는 카테고리에 'active' 클래스 추가 -->
                    <button type="button">
                        <span class="tit">2021년 4월</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">2021년 3월</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">2021년 2월</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">2021년 1월</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">2020년 12월</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">2020년 11월</span>
                    </button>
                </li>
                <li>
                    <button type="button">
                        <span class="tit">2020년 10월</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>