<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내차구매</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <h2>기본정보</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content bu">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMPH002">
                    <div class="data-list">
                        <div class="round-txt-wrap">
                            <span>2020년식</span>
                        </div>
                        <h4 class="list-tit">
                            <span>
                                벤츠 E클래스 (W213) <br>
                                E200d 4matic Avantgarde
                            </span>
                        </h4>
                        <ul>
                            <li>
                                <span class="tit">가격</span>
                                <span class="txt">6,450 ~ 10,470만원</span>
                            </li>
                            <li>
                                <span class="tit">연료</span>
                                <span class="txt">가솔린, 디젤</span>
                            </li>
                            <li>
                                <span class="tit">연비</span>
                                <span class="txt">복합 10.1 ~ 13.2km/l</span>
                            </li>
                            <li>
                                <span class="tit">배기</span>
                                <span class="txt">1,950 ~ 2,999cc</span>
                            </li>
                            <li>
                                <span class="tit">변속</span>
                                <span class="txt">자동 9단</span>
                            </li>
                            <li>
                                <span class="tit">전장</span>
                                <span class="txt">4,940mm</span>
                            </li>
                            <li>
                                <span class="tit">전고</span>
                                <span class="txt">1,460 ~ 1,475mm</span>
                            </li>
                            <li>
                                <span class="tit">전폭</span>
                                <span class="txt">1,850 ~ 1,860mm</span>
                            </li>
                            <li>
                                <span class="tit">축거</span>
                                <span class="txt">2,940mm</span>
                            </li>
                        </ul>
                    </div>

                    
                    <div class="test-drive-wrap">
                        <h4 class="tit">시승기</h4>
                        <div class="youtube-list-wrap">
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img-wrap"><img src="/images/bu/img-thumb01.png" alt="썸네일1"></div>
                                        <p>신형 벤츠 E220d. BMW 5시리즈와 솔직하게 평가</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img-wrap"><img src="/images/bu/img-thumb02.png" alt="썸네일2"></div>
                                        <p>2019 메르세데스-벤츠 E220d 시승기</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img-wrap"><img src="/images/bu/img-thumb01.png" alt="썸네일1"></div>
                                        <p>신형 벤츠 E220d. BMW 5시리즈와 솔직하게 평가</p>
                                    </a>
                                </li>
                                <!--2021-06-25 퍼블수정 : 마크업 삭제 (최대3개까지 노출)
                                <li>
                                    <a href="javascript:;">
                                        <div class="img-wrap"><img src="/images/bu/img-thumb02.png" alt="썸네일2"></div>
                                        <p>2019 메르세데스-벤츠 E220d 시승기</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img-wrap"><img src="/images/bu/img-thumb01.png" alt="썸네일1"></div>
                                        <p>신형 벤츠 E220d. BMW 5시리즈와 솔직하게 평가</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img-wrap"><img src="/images/bu/img-thumb02.png" alt="썸네일2"></div>
                                        <p>2019 메르세데스-벤츠 E220d 시승기</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img-wrap"><img src="/images/bu/img-thumb01.png" alt="썸네일1"></div>
                                        <p>신형 벤츠 E220d. BMW 5시리즈와 솔직하게 평가</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="img-wrap"><img src="/images/bu/img-thumb02.png" alt="썸네일2"></div>
                                        <p>2019 메르세데스-벤츠 E220d 시승기</p>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>

                    <div class="advertising-wrap">
                        <a href="javascript:;">
                            <img src="/images/bu/img-ad01.png" alt="Liiv Mate 신규 가입시 스타벅스 쿠폰을 드립니다">
                        </a>
                    </div>

				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>