<div class="modal-wrap CMYMPH003" data-type="window">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-tit">다음차 삭제</h3>
        </div>
        <div class="modal-body">
            <p class="modal-txt">
                다음차 <strong>E클래스 (W213)</strong>를 <br>
                삭제 하시겠습니까?
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>취소</span></button>
                <button type="button" class="btn-txt-blue"><span>삭제</span></button>
            </div>
        </div>
    </div>
</div>