<div class="modal-wrap CMYMPH100" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>차차차 내한도알기</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <div class="body-120">
                내차구매 예정이신가요? <br> 
                10초 간편 조회로 차량구매 추가 한도를 알아보세요!
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-gray"><span>다음에</span></button>
                <button type="button" class="btn-yellow"><span>조회하기</span></button>
            </div>
        </div>
    </div>
</div>