<div class="modal-wrap CMYMPH109" data-type="window">
    <div class="modal">
        <div class="modal-body">
            <p class="modal-txt">
                차국민 고객님! <br>
                내한도알기 유효기간이 만료되었어요. <br>
                최신 데이터로 정확한 한도를 <br>
                다시 조회해보세요!
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>취소</span></button>
                <button type="button" class="btn-txt-blue"><span>조회</span></button>
            </div>
        </div>
    </div>
</div>