<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내차구매</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap bg-all-gray">
    <!--
	[wrap 인접 class 지정 가이드]

	bg-header-yellow : 헤더만 황색으로 변경
	bg-header-gray   : 헤더만 회색으로 변경
	bg-all-gray      : 헤더와 콘텐츠배경 회색으로 변경
	bg-all-white     : 헤더와 콘텐츠배경 백색으로 변경
	-->
		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <h2>차차차 내한도알기</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content bu">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMPH108">

                    <div class="lookup-card-wrap">
                        <p class="result-txt">
                            차국민님의 <br>
                            내한도알기가 발급되었어요!
                        </p>

                        <i class="icon"></i>

                        <p class="tit">총 한도 2,500만원</p>
                        <p class="txt">
                            차종과 상관없이 중고차 구매에 <br>
                            이용할 수 있는 예상 한도입니다.
                        </p>

                        <div class="data-list">
                            <ul class="bg-gray">
                                <li>
                                    <span class="tit">이름</span>
                                    <span class="txt">차국민</span>
                                </li>
                                <li>
                                    <span class="tit">금리</span>
                                    <span class="txt">3.4%</span>
                                </li>
                                <li>
                                    <span class="tit">유효기간</span>
                                    <span class="txt">2021.05.14 ~2021.06.14</span>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-wrap">
                            <button class="btn-bg-yellow"><span>다시 조회하기</span></button>
                        </div>
                        
                    </div>

					<p class="info-txt"> <!-- 2021-07-12 퍼블수정 : 마크업 추가 -->
                        <i class="icon16 icon-info"></i>
                        유효기간 내 다시 조회할 경우, 한도와 금리가 동일하게 적용될 수 있습니다.
                    </p>

				</div>

				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>