<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내차구매</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/lib/anime/anime.min.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap bg-all-gray">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <h2>다음차 편집</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content bu">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMPH009">
					<p class="body-120">왼쪽으로 밀어 다음차를 편집하세요.</p>

					<div class="edit-scroll-xxx">
						<ul>
							<li data-module="scrollable">
								<div class="scroll-box">
									<div class="info-box">
										<div class="data">
											<div class="round-txt-wrap">
												<span>2020년식</span><span>검정색</span>
											</div>
											<strong>기아 스포티지 4세대 디젤 1.7 2WD 트렌디</strong>
										</div>
										<div class="img-wrap">
											<img src="/images/car/img96-car-kia.png" alt="기아 스포티지 4세대 디젤 1.7 2WD 트렌디">
										</div>
									</div>
									<div class="link-wrap">
										<a href="javascript:;" class="link">순서변경 화면으로 이동</a>
									</div>
									<div class="btn-box">
										<button class="btn-delete">삭제</button>
									</div>
								</div>
							</li>
							<li data-module="scrollable">
								<div class="scroll-box">
									<div class="info-box">
										<div class="data">
											<div class="round-txt-wrap">
												<span>2020년식</span><span>흰색</span>
											</div>
											<strong>벤츠 E클래스 (W213) E200d 4matic Avan…</strong>
										</div>
										<div class="img-wrap">
											<img src="/images/car/img96-car-benz.png" alt="벤츠 E클래스 (W213)">
										</div>
									</div>
									<div class="link-wrap">
										<a href="javascript:;" class="link">순서변경 화면으로 이동</a>
									</div>
									<div class="btn-box">
										<button class="btn-delete">삭제</button>
									</div>
								</div>
							</li>
							<li data-module="scrollable">
								<div class="scroll-box">
									<div class="info-box">
										<div class="data">
											<div class="round-txt-wrap">
												<span>2020년식</span><span>빨간색</span>
											</div>
											<strong>현대 그랜저HG 하이브리드 2.4 HEV프리미엄</strong>
										</div>
										<div class="img-wrap">
											<img src="/images/car/img96-car-hyundai.png" alt="현대 그랜저HG 하이브리드 2.4 HEV프리미엄">
										</div>
									</div>
									<div class="link-wrap">
										<a href="javascript:;" class="link">순서변경 화면으로 이동</a>
									</div>
									<div class="btn-box">
										<button class="btn-delete">삭제</button>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="btn-wrap">
                        <button class="btn-border-gray"><i class="icon16 icon-plus-black"></i><span>다음차 추가 등록</span></button>
                    </div>

					<script>
						UIComponent.Toast.Message("다음차가 삭제되었습니다.");
					</script>

				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>