<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내차구매</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <h2>E-클래스</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content bu">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMPH015">

                    <div class="accordion-list-wrap">
                        <ul>
                            <li><!-- 1뎁스 아코디언 -->
                                <div class="accordion-wrap type-multi"><!-- 2021-07-22 퍼블수정 : 클래스명 [.type-total]을 [.type-multi]로 교체 -->
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <div class="description-list">
                                                <em>E-클래스 (C238)</em>
                                                <span>21년 ~ 현재</span>
                                            </div>
                                        </div>
                    
                                        <div class="acco-right">
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul>
                                            <li><!-- 2뎁스 아코디언 -->
                                                <div class="type-default" data-module="accordion"><!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                                    <div class="accordion-header">
                                                        <div class="acco-left">
                                                            <i class="icon16 icon-depth"></i>
                                                            <span>E200</span>
                                                        </div>
                                                        <div class="acco-right">
                                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-container">
                                                        <ul class="link-list line-top">
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">Avantgarde</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">Exclusive</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">AMG Line</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li><!-- 2뎁스 아코디언 -->
                                                <div class="type-default" data-module="accordion"><!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                                    <div class="accordion-header">
                                                        <div class="acco-left">
                                                            <i class="icon16 icon-depth"></i>
                                                            <span>E200</span>
                                                        </div>
                                                        <div class="acco-right">
                                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-container">
                                                        <ul class="link-list line-top">
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">Avantgarde</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">Exclusive</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">AMG Line</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><!-- 1뎁스 아코디언 -->
                                <div class="accordion-wrap type-multi"><!-- 2021-07-22 퍼블수정 : 클래스명 [.type-total]을 [.type-multi]로 교체 -->
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <div class="description-list">
                                                <em>모델명 (세부모델명)</em>
                                                <span>연식 ~ 연식</span>
                                            </div>
                                        </div>
                    
                                        <div class="acco-right">
                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        <ul>
                                            <li><!-- 2뎁스 아코디언 -->
                                                <div class="type-default" data-module="accordion"><!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                                    <div class="accordion-header">
                                                        <div class="acco-left">
                                                            <i class="icon16 icon-depth"></i>
                                                            <span>E200</span>
                                                        </div>
                                                        <div class="acco-right">
                                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-container">
                                                        <ul class="link-list line-top">
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">Avantgarde</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">Exclusive</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">AMG Line</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li><!-- 2뎁스 아코디언 -->
                                                <div class="type-default" data-module="accordion"><!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                                    <div class="accordion-header">
                                                        <div class="acco-left">
                                                            <i class="icon16 icon-depth"></i>
                                                            <span>E200</span>
                                                        </div>
                                                        <div class="acco-right">
                                                            <i class="icon16 icon-arrow-bottom-gray"></i>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-container">
                                                        <ul class="link-list line-top">
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">Avantgarde</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">Exclusive</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <span class="tit">AMG Line</span>
                                                                    <i class="icon16 icon-arrow-right-gray"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>