<div class="modal-wrap CMYMPH016" data-type="window">
    <div class="modal">
        <div class="modal-body">
            <p class="modal-txt"> <!--2021-06-25 퍼블수정 : br태그 추가-->
                다음차를 등록하면 고객님이 설정하신 <br> 다음차를 구매하기 위한 자산 맞춤 <br> 시뮬레이션을 조회할 수 있어요.
            </p>
            <p class="modal-txt">
                다음차 등록을 그만하시겠습니까?
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>아니오</span></button>
                <button type="button" class="btn-txt-blue"><span>다음에 하기</span></button>
            </div>
        </div>
    </div>
</div>