<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>내차구매</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <h2>다음차 등록</h2>
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content bu">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMPH017">
                    <!-- 2021-07-02 퍼블수정 : 마크업 삭제
                    <div class="result-box">
                        <i class="icon48 icon-success"></i>
                        <p class="tit">입력하신 정보로 다음차 등록을 <br> 완료하였습니다.</p>
                    </div>
                    -->

                    <div class="item-car">
                        <div class="top-box">
                            <div class="round-txt-wrap">
                                <span>2020년식</span><span>흰색</span> <!--2021-07-02 퍼블수정 : 문구수정-->
                            </div>
                            <p class="name"><!--2021-07-02 퍼블수정 : 문구수정-->
                                벤츠 E클래스 (W213) E200d 4matic Avantgarde 클래스
                            </p>
                            <div class="img-box"><img src="/images/car/car-sample01.png" alt="sample1"></div>
                        </div>
                        <ul class="bottom-box">
                            <li>
                                <strong>중고차시세</strong>
                                <span>6,411만원</span>
                            </li>
                            <li>
                                <strong>신차가</strong>
                                <span>7,750만원~</span>
                            </li>
                        </ul>
                    </div>

                    <!-- 2021-07-02 퍼블수정 : 마크업 추가 -->
                    <p class="body-120 tac">입력하신 정보로 다음차를 등록하시겠습니까?</p>

                    <div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>확인</span></button>
                    </div>
                    <div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>