<div class="modal-wrap CMYMPH103" data-type="toast" data-uicomponent="modal">
    <div class="modal">
        <div class="modal-header">
            <h3>내한도알기 약관동의</h3>
            <button class="modal-close">닫기</button>
        </div>
        <div class="modal-body">
            <!-- 2021-07-02 퍼블수정 : 마크업 전체수정 -->
            <ul class="agree-list-wrap">
                <li>
                    <label class="form-checkbox all-check">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt">인터넷 서비스 이용약관 (필수)</span>
                    </label>
                    <a href="javascript:;" class="agree-link icon16 icon-arrow-right-black">약관보기</a>
                </li>
                <li>
                    <label class="form-checkbox all-check">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt">개인(신용)정보 동의서 (필수)</span>
                    </label>
                    
                    <div class="accordion-wrap"> <!-- .toggle-active 추가되면 열림 -->
                        <div class="accordion-header">
                            <i class="icon16 icon-arrow-bottom-black">아코디언 열기</i>
                        </div>

                        <div class="accordion-container">
                            <ul class="agree-list">
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt">1. 개인(신용)정보 필수 수집ㆍ이용 동의</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt depth">고유식별정보 필수 수집ㆍ이용 동의</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>
                                
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt">2. 개인(신용)정보 필수 조회 동의</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt depth">고유식별정보 필수 조회 동의</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>

                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt">3-1. 개인(신용)정보필수제공동의-신용정보집중기관등</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt depth">고유식별정보 필수 제공 동의</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>

                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt">3-2. 개인(신용)정보필수제공동의-여신금융협회등</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt depth">고유식별정보 필수 제공 동의</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>

                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt">3-3. 개인(신용)정보필수제공동의-제휴업체등</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>
                                <li>
                                    <label class="form-checkbox sm">
                                        <input type="checkbox">
                                        <i class="icon"></i>
                                        <span class="txt depth">고유식별정보 필수 제공 동의</span>
                                    </label>
                                    <a href="javascript:;" class="icon16 icon-arrow-right-gray">약관보기</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <label class="form-checkbox all-check">
                        <input type="checkbox">
                        <i class="icon"></i>
                        <span class="txt">전자금융 거래약관 (필수)</span>
                    </label>
                    <a href="javascript:;" class="agree-link icon16 icon-arrow-right-black">약관보기</a>
                </li>
            </ul>

        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-yellow" disabled><span>다음</span></button>
            </div>
        </div>
    </div>
</div>