<div class="modal-wrap CMYMPH019" data-type="window">
    <div class="modal">
        <div class="modal-body">
            <p class="modal-txt">
                다음차 순서를 변경하시겠습니까?
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-area">
                <button type="button" class="btn-txt-black"><span>취소</span></button>
                <button type="button" class="btn-txt-blue"><span>확인</span></button>
            </div>
        </div>
    </div>
</div>