<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta class="" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>레이아웃</title>

	<link type="text/css" rel="stylesheet" href="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="../../js/lib/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="../../css/app.css">

	<script src="../../js/lib/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../js/lib/slick/slick.js"></script>
	<script src="../../js/uicomponent.js"></script>

</head>
<body>
	<!-- wrap -->
	<div class="wrap">

		<!-- content-header -->
		<div class="content-header ">
            <button type="button" class="btn-history-back">뒤로</button>
            <h2>보유 예산</h2><!-- 2021-07-20 띄어쓰기 수정 '보유예산' -> '보유 예산' -->
		</div>
		<!-- // content-header -->

		<!-- content-body -->
		<div class="content-body">
			
			<!-- content, 카테고리-->
			<div class="content bu">

				<!-- section, 화면ID (화면별 섹션 추가)-->
				<div class="section CMYMPH006">
					<!-- 2021-07-20 텍스트 수정 -->
                    <p class="body-120">
                        실제 내자산을 참고하여 보유 예산을 설정해보세요.<br>
                        설정한 예산은 하루 동안 유지됩니다.
                    </p>
                    <!-- // 2021-07-20 텍스트 수정 -->

                    <dl class="total-assets">
                        <dt><span>순자산</span></dt>
                        <dd>260,000,000원</dd>
                    </dl>

                    <div class="accordion-list-wrap">
                        <ul>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-assets">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <strong>예금</strong> <!--2021-08-02 문구수정-->
                                        </div>
                    
                                        <div class="acco-right">
                                            <em>260,000,000원</em>
                                            <i class="icon16 icon-arrow-bottom-black"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        
                                        <div class="info-content">
                                            <div class="info-box"><!--입출금,예적금,기타-->
                                                <div class="info-top">
                                                    <p class="date">입출금</p>
                                                    <p class="price">40,000,000원</p>
                                                </div>

                                                <ul class="info-list">
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">KB마이핏통장</span>
                                                        <ul class="info">
                                                            <li>국민은행</li>
                                                        </ul>
                                                        <span class="price">40,000,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">KB마이핏통장</span>
                                                        <ul class="info">
                                                            <li>국민은행</li>
                                                        </ul>
                                                        <span class="price">40,000,000원</span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="info-box"><!--입출금,예적금,기타-->
                                                <div class="info-top">
                                                    <p class="date">예적금</p>
                                                    <p class="price">40,000,000원</p>
                                                </div>

                                                <ul class="info-list">
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">마이홈플랜 주택청약 </span>
                                                        <ul class="info">
                                                            <li>신한은행</li>
                                                        </ul>
                                                        <span class="price">40,000,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">마이홈플랜 주택청약 </span>
                                                        <ul class="info">
                                                            <li>신한은행</li>
                                                        </ul>
                                                        <span class="price">40,000,000원</span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="info-box"><!--입출금,예적금,기타-->
                                                <div class="info-top">
                                                    <p class="date">기타</p> <!--2021-08-02 문구수정-->
                                                    <p class="price">40,000,000원</p>
                                                </div>

                                                <ul class="info-list">
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">KB증권</span>
                                                        <ul class="info">
                                                            <li>신한은행</li>
                                                        </ul>
                                                        <span class="price">10,000,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">KB증권</span>
                                                        <ul class="info">
                                                            <li>신한은행</li>
                                                        </ul>
                                                        <span class="price">10,000,000원</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <!-- .toggle이 활성화 되면 클래스명 [.toggle-active] 추가 -->
                                <div class="accordion-wrap type-assets">
                                    <div class="accordion-header">
                                        <div class="acco-left">
                                            <strong>투자</strong>
                                        </div>
                    
                                        <div class="acco-right">
                                            <em>260,000,000원</em>
                                            <i class="icon16 icon-arrow-bottom-black"></i>
                                        </div>
                                    </div>
                                    <div class="accordion-container">
                                        
                                        <div class="info-content">
                                            <div class="info-box"><!--주식-->
                                                <div class="info-top">
                                                    <p class="date">주식</p>
                                                    <p class="price">40,000,000원</p>
                                                </div>

                                                <ul class="info-list">
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">KB마이핏통장</span>
                                                        <ul class="info">
                                                            <li>국민은행</li>
                                                        </ul>
                                                        <span class="price">40,000,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">KB마이핏통장</span>
                                                        <ul class="info">
                                                            <li>국민은행</li>
                                                        </ul>
                                                        <span class="price">40,000,000원</span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="info-box"><!--펀드-->
                                                <div class="info-top">
                                                    <p class="date">펀드</p>
                                                    <p class="price">40,000,000원</p>
                                                </div>

                                                <ul class="info-list">
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">마이홈플랜 주택청약 </span>
                                                        <ul class="info">
                                                            <li>신한은행</li>
                                                        </ul>
                                                        <span class="price">40,000,000원</span>
                                                    </li>
                                                    <li>
                                                        <span class="icon"><img src="/images/bank/bank-sample.svg" alt="샘플"></span>
                                                        <span class="tit">마이홈플랜 주택청약 </span>
                                                        <ul class="info">
                                                            <li>신한은행</li>
                                                        </ul>
                                                        <span class="price">40,000,000원</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <ul class="budget-modify-wrap">
                        <li class="">
                            <label for="target-01">보유 예산</label><!-- 2021-07-20 텍스트 수정 -->
                            <div class="right-box">
                                <div class="inp-inline-modify">
                                    <input type="number" name="target" id="target-01" value="1000" maxlength="8">
                                    <span class="unit">만원</span>
                                    <i class="icon16 icon-modify"></i>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="btn-area bottom-fixed">
                        <button type="button" class="btn-yellow"><span>저장</span></button><!-- 2021-07-20 텍스트 수정 -->
                    </div>
					<div class="bottom-space"></div>
				</div>
				<!-- // section, 화면ID -->
			</div>
			<!-- // content -->

		</div>
		<!-- // content-body -->

	</div>
	<!-- // wrap -->
</body>
</html>